In [1]:
import pandas as pd
import numpy as np
import time
import shapefile
try:
    from tqdm import tqdm
except:
    !pip install tqdm

In [5]:
df1 = pd.read_csv('node190813.csv',sep=",",encoding='CP949')
df1.head(5)

,NODE_ID,NODE_TYPE,NODE_NAME,TURN_P,REMARK,USER_ID,WORKSTATE,DEPT_CODE,STNL_REG,TMPID,UPLOAD_ID
0,3330017400,101,고읍교차로,0,NaN,korea,5,NaN,333,OEXT3330017400,NaN
1,3330016500,104,벌교터널,0,NaN,korea,5,NaN,333,OEXT3330016500,NaN
2,3330015600,104,벌교터널,0,NaN,korea,5,NaN,333,OEXT3330015600,NaN
3,3330014900,101,벌교교차로,0,NaN,korea,5,NaN,333,OEXT3330014900,NaN
4,3330014600,101,벌교교차로,0,NaN,korea,5,NaN,333,OEXT3330014600,NaN

In [2]:
def Read_shf(filename):
    #filename="../datas/node/MOCT_NODE.shp"
    try:
        sf = shapefile.Reader(filename,encoding="CP949")
   
        records = sf.records()

        print("%s : %d"%(filename.split('/')[-1],len(records)))

        cols = []
        for field in sf.fields[1:]:
            cols.append(field[0])

        df = pd.DataFrame(records,columns=cols)

        #df=df.drop(cols[3:12],1)
        #print(df.head(3))
        
        return df
    
    except Exception as ex:
        print('에러 발생 :', ex)

In [3]:
df1 = Read_shf("../datas/node/link2_highway.shp")
df2 = Read_shf("../datas/node/node2_icjc.shp")
df3 = Read_shf('../datas/node/MOCT_NODE.shp')

link2_highway.shp : 10078
node2_icjc.shp : 4312
MOCT_NODE.shp : 120700

In [7]:
#df1.head(5)
df4=df1[df1['ROAD_NAME']=='경부고속도로']
df4.to_csv(r'link_hw_kb.csv')

In [8]:
a = list(set(df1['F_NODE']))
a1 = list(set(df1['T_NODE']))
b = []
nb = []
for nid in a:
    if nid in list(df2['NODE_ID']):
        b.append(nid)
    else:
        nb.append(nid)

for nid in a1:
    if nid in list(df2['NODE_ID']):
        b.append(nid)
    else:
        nb.append(nid)

print(len(b))
print(len(nb))

4364
4897

In [9]:
print(nb[:5])
print(b[:5])

['1840057200', '3120027400', '2330155800', '3110016700', '3650167800']
['2210001000', '1660001700', '2670088000', '2860035200', '2740020800']

In [34]:
df3.head(5)

,NODE_ID,NODE_TYPE,NODE_NAME,TURN_P,REMARK,USER_ID,WORKSTATE,DEPT_CODE,STNL_REG,TMPID,UPLOAD_ID,x좌표,x,y
0,3330017400,101,고읍교차로,0,,korea,5,,333,OEXT3330017400,,229757,229757.357,251792.791
1,3330016500,104,벌교터널,0,,korea,5,,333,OEXT3330016500,,229535,229535.218,250194.520
2,3330015600,104,벌교터널,0,,korea,5,,333,OEXT3330015600,,229465,229465.270,249416.523
3,3330014900,101,벌교교차로,0,,korea,5,,333,OEXT3330014900,,229456,229455.641,249249.001
4,3330014600,101,벌교교차로,0,,korea,5,,333,OEXT3330014600,,229413,229412.604,249169.926

In [33]:
df4 = []
count=0
no=0

for nbb in tqdm(nb,mininterval=1):
    #nbb2 = str(nbb)
    if nbb in list(df3['NODE_ID']):
        count+=1
    else:
        no+=1
print('%d / %d '%(count,(count+no)))

  0%|                                                                                        | 0/10078 [00:00<?, ?it/s]

LINK_ID

0 / 0

In [25]:
df3[df3['NODE_ID']=='3850288000']

,NODE_ID,NODE_TYPE,NODE_NAME,TURN_P,REMARK,USER_ID,WORKSTATE,DEPT_CODE,STNL_REG,TMPID,UPLOAD_ID,x좌표,x,y
103523,3850288000,108,진례JC,0,,mappers,5,60190,385,TMPID20170112023,mappers20170112105813,361460,361459.904,293748.353

In [47]:
df2.tail(5)

,NODE_ID,NODE_TYPE,NODE_NAME,TURN_P,REMARK,USER_ID,WORKSTATE,DEPT_CODE,STNL_REG,TMPID,UPLOAD_ID,x좌표,y좌표
4307,2320178100,108,한강시네폴리스IC,0,,nodelinkmanager,5,50000,232,TMPID20190520104718,nodelinkmanager2019061309,126.732,37.634
4308,2320178200,108,한강시네폴리스IC,0,,nodelinkmanager,5,50000,232,TMPID20190520104717,nodelinkmanager2019061309,126.736,37.635
4309,3850367900,108,한림하이패스IC(진입),0,,nodelinkmanager,5,50000,385,TMPID20190708151907,nodelinkmanager2019070817,128.810,35.296
4310,3850368000,108,한림하이패스IC(진출),0,,nodelinkmanager,5,50000,385,TMPID20190708151908,nodelinkmanager2019070817,128.810,35.296
4311,3850368400,108,한림하이패스IC,0,,nodelinkmanager,5,50000,385,TMPID20190708151900,nodelinkmanager2019070817,128.814,35.295

In [30]:
print(cols[3:12])

['TURN_P', 'REMARK', 'USER_ID', 'WORKSTATE', 'DEPT_CODE', 'STNL_REG', 'TMPID', 'UPLOAD_ID', 'x좌표']

In [1]:
pip install pyshp

Collecting pyshp
  Downloading https://files.pythonhosted.org/packages/27/16/3bf15aa864fb77845fab8007eda22c2bd67bd6c1fd13496df452c8c43621/pyshp-2.1.0.tar.gz (215kB)
Building wheels for collected packages: pyshp
  Building wheel for pyshp (setup.py): started
  Building wheel for pyshp (setup.py): finished with status 'done'
  Created wheel for pyshp: filename=pyshp-2.1.0-cp37-none-any.whl size=32613 sha256=7a7d0dbe4d961656cd9fe28405c2bdac54d39f3a5f28744269fb78760b35d176
  Stored in directory: C:\Users\njh\AppData\Local\pip\Cache\wheels\a6\0c\de\321b5192ad416b328975a2f0385f72c64db4656501eba7cc1a
Successfully built pyshp
Installing collected packages: pyshp
Successfully installed pyshp-2.1.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 19.2.1, however version 19.2.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.