In [1]:
import pandas as pd
import numpy as np
import time

In [10]:
# 고속도로 사고 데이터

df = pd.read_csv('acc_highway2.csv',sep=",")
df= df.set_index('Unnamed: 0')
print(len(df))
df.tail(2)

31556

,발생시간,메세지,경도,위도
Unnamed: 0,,,,
31554,2019-07-17 21:24:02,경부고속도로 동탄JC 오산IC 5차로 차량고장 주의운전 -,127.0882,37.1593
31555,2019-07-17 23:39:02,서울외곽순환고속도로 김포IC 김포T/G 5차로 차량사고 주의운전 -,126.7779,37.5987

In [3]:
# 콘존ID - 콘존명 데이터

df = pd.read_csv('czid_to_gugan.txt',sep="\t",encoding='CP949')

cols = df.columns
cols = cols[0].split(',')

df.index = range(len(df))
df.columns=range(1)

df = df[0].str.split(',',n=12,expand=True)
df.columns = cols
print(len(df))
df.head(1)

1438

,콘존ID,콘존길이,기점종점방향구분코드,시작노드ID,종료노드ID,차로수,노선번호,제한속도,노선구성순번,콘존명,버스전용차로유무,도로등급구분코드
0,0010CZE005,200.00,E,0491,0004,3,0010,100.00,1,경부고속국도시점-구서IC,0,101

In [4]:
c = [0,2,3,4,6,8,9,11]
tmp = []
for i in c:
    tmp.append(cols[i])
df2 = df[tmp]
df2.tail(5)

            콘존ID 기점종점방향구분코드 시작노드ID 종료노드ID  노선번호 노선구성순번          콘존명 도로등급구분코드
1433  6000CZS050          S   0668   0667  6000      5  김해가야Hi-대감JC      101
1434  6000CZS060          S   0669   0668  6000      4  노포JC-김해가야Hi      101
1435  6000CZS070          S   0670   0669  6000      3    금정IC-노포JC      101
1436  6000CZS080          S   0671   0670  6000      2  기장철마IC-금정IC      101
1437  6000CZS090          S   0672   0671  6000      1  기장JC-기장철마IC      101

In [11]:
ic1=0
ic2=0
ic3=0
for msg in df['메세지']:
    
    msg = msg.upper()
    if 'IC' in msg:
        tmp = msg.split('IC')
        if len(tmp)==1:
            ic1+=1
        elif len(tmp)==2:
            ic2+=1
        elif len(tmp)>=3:
            ic3+=1
print(ic1,ic2,ic3)
print(ic1+ic2+ic3 ,' : 18967')

0 9570 9397
18967  : 18967

In [ ]:
'''
고속도로 사고건수 중
IC로 분류 : 18967
JC로 분류 : 8668
IC도 있고 JC도 있음 : 5583
'''

In [12]:
highway = []

for msg in df['메세지']:
    
    msg=msg.upper()
    arr=msg.split()
    for a in arr:
        if '고속도로' in a:
            highway.append(a)
            #if '방면' in a:
                #print(msg)
                #나중에 지워야하는 자료임
            break
    
hway = []
for i in highway:
    a = i.split('고속')[0]
    hway.append(a)
#hway = list(set(hway))

print(len(df))
print(len(hway))
print(len(highway))

31556
31556
31556

In [13]:

a ='''<option value="001">경부선</option>
<option value="010">남해선</option>
<option value="012">무안광주ㆍ광주대구선</option>
<option value="015">서해안선</option>
<option value="016">울산선</option>
<option value="020">익산포항선</option>
<option value="025">호남선</option>
<option value="027">순천완주선</option>
<option value="030">당진영덕선</option>
<option value="035">통영대전ㆍ중부선</option>
<option value="037">제2중부선</option>
<option value="040">평택제천선</option>
<option value="045">중부내륙선</option>
<option value="050">영동선</option>
<option value="055">중앙선</option>
<option value="060">서울양양선</option>
<option value="065">동해ㆍ울산포항선</option>
<option value="100">서울외곽순환선</option>
<option value="102">남해제1지선</option>
<option value="104">남해제2지선</option>
<option value="110">제2경인선</option>
<option value="120">경인선</option>
<option value="151">서천공주선</option>
<option value="251">호남선의지선</option>
<option value="253">고창담양선</option>
<option value="300">대전남부순환선</option>
<option value="451">중부내륙선의지선</option>
<option value="551">중앙선의지선</option>
<option value="600">부산외곽순환선</option>'''
a =a.split('>')
c=[]
for aa in a:
    b=aa.split('<')
    c.append(b)
nosun=[]
for aa in c:
    for aaa in aa:
        if '선' in aaa:
            nosun.append(aaa)

a='''
<option value="J017">평택화성ㆍ수원광명선</option>
<option value="J025">논산천안선</option>
<option value="J029">세종포천선(구리~포천)</option>
<option value="J032">옥산오창선</option>
<option value="J052">광주원주선</option>
<option value="J055">중앙선(부산~대구)</option>
<option value="J060">서울양양선(강일~춘천)</option>
<option value="J065">동해선(부산~울산)</option>
<option value="J100">서울외곽순환선(일산~퇴계원)</option>
<option value="J105">남해제3지선(부산항신항선)</option>
<option value="J110">제2경인선</option>
<option value="J130">인천국제공항선</option>
<option value="J153">평택시흥선</option>
<option value="J171">용인서울ㆍ오산화성선</option>
<option value="J301">상주영천선</option>
<option value="J400">수도권제2순환선</option>
</select>
'''
a =a.split('>')
c=[]
for aa in a:
    b=aa.split('<')
    c.append(b)
nosun2=[]
for aa in c:
    for aaa in aa:
        if '선' in aaa:
            nosun2.append(aaa)
nosun = nosun + nosun2

In [14]:
keyword = []
for ns in nosun:
    keyword.append(ns[:2])
keyword = list(set(keyword))
len(keyword)

30

In [15]:
tmp = pd.DataFrame(keyword,keyword)
a= tmp.index.values

tmp.index = range(len(tmp))
tmp.columns=[0]
tmp[1] = 0

for k in keyword:
    for h in hway:
        if k in h:
            tmp[1][tmp[0]==k]+=1
tmp

c:\programdata\miniconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

     0     1
0   서천    42
1   옥산     0
2   평택   837
3   부산   337
4   대전   305
5   익산   149
6   제2  1558
7   수도    21
8   상주   137
9   동해    57
10  경부  7410
11  고창    14
12  남해  1870
13  울산   111
14  무안    69
15  서해  2975
16  광주   241
17  호남   682
18  중부  2877
19  통영   167
20  용인    44
21  세종     0
22  순천   109
23  경인  1662
24  당진   156
25  영동  3281
26  논산   200
27  중앙   816
28  인천   279
29  서울  6126

In [16]:
tmp[tmp[1]>1000]

     0     1
6   제2  1558
10  경부  7410
12  남해  1870
15  서해  2975
18  중부  2877
23  경인  1662
25  영동  3281
29  서울  6126

In [222]:
sum(tmp[tmp[1]>1000][1])

27759

In [17]:
a=[]
for t in tmp[tmp[1]>1000][0]:
    a.append(t)
a

['제2', '경부', '남해', '서해', '중부', '경인', '영동', '서울']

5     영동
11    서울
13    중부
18    경부
21    서해
24    제2
26    경인
29    남해
Name: 0, dtype: object

In [39]:
tmp_df = pd.DataFrame()

for ns in nosun:
    for aa in a:
        if aa in ns:
            tmp_df = tmp_df.append({'키워드':aa,'노선':ns},ignore_index=True)
            break

In [78]:
tmp_df

                 노선 키워드
0               경부선  경부
1               남해선  남해
2              서해안선  서해
3          통영대전ㆍ중부선  중부
4             제2중부선  제2
5             중부내륙선  중부
6               영동선  영동
7             서울양양선  서울
8           서울외곽순환선  서울
9            남해제1지선  남해
10           남해제2지선  제2
11            제2경인선  제2
12              경인선  경인
13         중부내륙선의지선  중부
14     서울양양선(강일~춘천)  서울
15  서울외곽순환선(일산~퇴계원)  서울
16   남해제3지선(부산항신항선)  남해
17            제2경인선  제2
18       용인서울ㆍ오산화성선  서울
19         수도권제2순환선  제2

,발생시간,메세지,경도,위도
Unnamed: 0,,,,
0,2014-12-01 06:49:02,경인고속도로 부천-신월 3차로 추돌사고 지체 -,126.826106822352,37.5225191751392
1,2014-12-01 06:50:02,경인고속도로 서인천-가좌 추돌사고 지체 -,126.675731372779,37.5068873058972
2,2014-12-01 06:51:02,영동고속도로 서창분기점 강릉방향 3차로 사고 지체 -,126.736762772379,37.4275702759106
3,2014-12-01 06:50:02,제2경인고속도로 문학-남동 1차로 추돌사고 지체 -,126.685986373565,37.4318673990613
4,2014-12-01 07:11:02,서울외곽순환고속도로 산본 - 평촌방향 1차로 승용차관련 사고처리중 후미지체 -,126.941595064846,37.3788016855273
5,2014-12-01 07:26:02,남해제2고속도로 감전ic에서 서부산 18.5km 1차로 승용차고장 후방 지정체 -,128.957173214158,35.1551551257213
6,2014-12-01 08:25:02,천안논산고속도로 논산방향 1차로 철판(대형) 1km지정체 예상 후속사고 예방,127.114251502719,36.577008042532
7,2014-12-01 08:49:02,서울외곽순환고속도로 판교방향 시흥요금소 2차로 승용차 단독사고 후미지체 -,126.803659728236,37.4504219345875
8,2014-12-01 09:01:02,경인고속도로 인천방향 부천나들목 300m 정도 못 간 지점 4차로 택시관련 3중 추...,126.78320495541,37.5239169545305
9,2014-12-01 10:39:02,경부고속도로 부산방향 영천 나들목 지나자마자 50m 전방 2차로에 화물차와 승용차 ...,128.951904288842,35.9223635888012
10,2014-12-01 10:45:02,호남고속도로지선 회덕방향 유성톨게이트 진출램프 차 단독 교통사고 지정체 -,127.330953329361,36.3623802305298
11,2014-12-01 10:53:02,평택음성간고속도로 안진터널 - 금광3터널방향 2차로 화물차관련 사고 처리중 후미지체 -,127.339893351034,36.9820816523809
12,2014-12-01 12:05:02,남해고속도로 순천방면 55k지점 1차로 포터차량 고장으로 정차 안전유의 -,128.025061293812,35.0769675603504
13,2014-12-01 12:21:02,경부고속도로 부산방향 편도 4차로중 12차로 차대차 교통사고 약1km 지정체 -,127.196042774013,36.7668421157834
14,2014-12-01 13:25:02,천안논산고속도로 천안방향 234km 편도2차로 중 2차로 차:차 교통사고 약1km지...,127.07985229371,36.4298381418103
15,2014-12-01 13:40:02,전주광양고속도로 9.0k 완주분기점 장수방향 차량 추돌사고 지체 -,127.174489015572,35.8804479763916
16,2014-12-01 14:12:02,경부고속도로 한남방향 양재IC->서초IC 4차로 고장차량 정체 -,127.028208703162,37.4773128302009
17,2014-12-01 15:48:02,영동고속도로 안산IC->서안산IC(인천방향) 23차로교통사고 주의요망 -,126.813356565873,37.3502560039223
18,2014-12-01 16:00:02,영동고속도로 (인천방향) 서안산ic→군자요금소 23차로 화물차 관련 사고 후미 지체 -,126.788789754058,37.3551682255048
19,2014-12-01 16:12:02,경부고속도로 서울 방향 황간휴게소 500m 지난 지점 23차로에 화물차 단독 사고가...,127.852303097518,36.2568256135994
20,2014-12-01 16:18:02,경부고속도로 경주에서 언양방향 47km 2차로갓길상 화물차 교통사고 후미 1km 지체 -,129.158557169785,35.6290536141937
21,2014-12-01 16:18:02,경부고속도로 서울방향 230.6km 편도 3차로 중 3차로 차대차 교통사고 약1km...,127.835068908257,36.2682808753151
22,2014-12-01 17:17:02,대전당진고속도로 대전방향 86km 편도2차로 중 1.2차로 차:차 교통사고 약 1k...,127.292818348187,36.4218604398686
23,2014-12-01 17:31:02,대전당진고속도로 당진방향 41km 편도2차로 중 1.2차로 차:차교통사고 약2km지...,126.921072273092,36.5888593923379
24,2014-12-01 17:33:02,대전당진고속도로 대전방향 41km 편도2차로 중 1차로 차:차 교통사고 약1km지정체 -,126.916189985658,36.5869056556791
25,2014-12-01 17:38:02,경부고속도로 한남IC 방면 잠원IC에서 한남IC 2차로 승용차 추돌사고 후미 정체 -,127.017077339501,37.5182659827759
26,2014-12-01 17:54:02,서울외곽순환고속도로 판교(일산) 방향 산본나들목->조남분기점 23차로 승용차 관련사...,126.927271270842,37.3756425328352
27,2014-12-01 18:06:02,대전당진고속도로 대전방향 51km 편도2차로 중 1.2차로 차:차교통사고 약 2km...,126.993773511585,36.5368680428347
28,2014-12-01 18:10:02,남해제2고속도로 옛 서부산요금소 - 낙동대교 방향 낙동대교 끝지점 주행로 승용차 화...,128.971209473885,35.1526786133664
29,2014-12-01 20:07:02,서울외곽순환고속도로 판교(일산)방향 도리분기점->안현분기점 1차로 승용차 관련사고 ...,126.844236213813,37.3999667500817
...,...,...,...,...
31526,2019-07-17 13:10:02,중부내륙고속도로 문경새재IC 문경휴게소 1차로 차량 전복 후 화재 주의운전 전복 -,128.138374926801,36.6569419135593
31527,2019-07-17 13:01:02,서울외곽순환고속도로 김포IC 김포T/G 3차로 차량고장 주의운전 -,126.7779,37.5987
31528,2019-07-17 13:43:02,마산외곽고속도로 칠원JC 창녕1터널서측 2차로 부산 방향 120.4Km 지점 2차로...,128.559725689051,35.2906913528573
31529,2019-07-17 14:26:02,제2외곽순환고속도로 인천터널남측 인천터널북측 3차로 1개차선통제중 차량고장 -,126.6358917,37.4726695
31530,2019-07-17 14:40:02,서울외곽순환고속도로 판교JC 성남IC 1차로 차량고장 주의운전 -,127.1225,37.4169
31531,2019-07-17 15:06:02,영동고속도로 안산IC 서안산IC 2차로 차량사고 주의운전 -,126.8064,37.3506
31532,2019-07-17 15:20:02,영동고속도로 서안산Ic 군자톨게이ㄸ 3차로 0km(서안산IC방향) 주의운전 교통사고 -,126.8049899,37.3509345
31533,2019-07-17 15:32:02,서울외곽순환고속도로 안현JC남측본선서울외곽순환 도리JC북측 1차로 0km(도리JC방...,126.834587055108,37.4081891301157
31534,2019-07-17 15:50:02,호남고속도로 백양사휴게소 장성Jct 2차로 99km(장성JC방향) 주의운전 차량고장 -,126.809795174317,35.3357978176197
31535,2019-07-17 15:57:02,동홍천양양고속도로 행치령터널북측 홍천군인제군경계 1차로 0km(방향) 주의운전 -,128.218591922512,37.8203970738704
31536,2019-07-17 16:08:02,중부고속도로 경기광주JC 광주IC동측본선 1차로 0km(방향) 주의운전 -,127.307049958154,37.4063973874202
31537,2019-07-17 15:58:02,서해안고속도로 화성휴게소 비봉IC 1차로 차량사고 주의운전 -,126.87674279,37.1568903884426
31538,2019-07-17 16:06:02,서울양양고속도로 서종IC 화도IC 1차로 차량사고 주의운전 -,127.3616,37.634
31539,2019-07-17 17:17:02,중앙고속도로 군위ic 군위jc 2차로 144.6km(방향) 주의운전 차량고장 -,128.5556511,36.1907164
31540,2019-07-17 17:11:02,중부고속도로 남이천IC 호법JC 1차로 차량사고 주의운전 -,127.436,37.2153
31541,2019-07-17 17:53:02,서울양양고속도로 강촌IC 설악IC 1차로 차량사고 주의운전 -,127.5702,37.7187
31542,2019-07-17 18:01:02,서울외곽순환고속도로 의정부IC 별내IC 4차로 차량고장 주의운전 -,127.0619,37.6897
31543,2019-07-17 18:04:02,서울춘천고속도로 강촌IC서측본선 청평IC북측본선 1차로 통제 중 주의운전 교통사고 -,127.619478013299,37.7326280947738
31544,2019-07-17 18:01:02,서울외곽순환고속도로 송추IC 의정부IC 4차로 차량사고 주의운전 -,127.0175,37.7189
31545,2019-07-17 18:18:02,서울외곽순환고속도로 의정부IC 호원IC 4차로 통제 중 주의운전 교통사고 -,127.044173199073,37.7017764881143
31546,2019-07-17 18:20:02,중부고속도로 광주IC 곤지암IC 2차로 차량고장 주의운전 -,127.3023,37.4144
31547,2019-07-17 18:28:02,중부고속도로 광주IC동측본선 경기광주JC 2차로 통제 중 주의운전 고장 차량 -,127.27466213046,37.4463849924703
31548,2019-07-17 18:32:02,경부고속도로 동탄JC 오산IC 5차로 차량사고 주의운전 -,127.0844,37.1508
31549,2019-07-17 18:44:02,경부고속도로 동탄JC남측경부선 오산IC북측본선 5차로 통제 중 주의운전 교통사고 -,127.085797258366,37.1542867043307
31550,2019-07-17 19:49:02,중앙고속도로 하행선 가산IC 가산IC 1차로 130km(방향) 중앙선 하행선에서 가...,128.5341864,36.0938333
31551,2019-07-17 20:26:02,상주영천고속도로 동영천IC영천방면 영천TG 1차로 0km(방향) 역방향 정차 교통사고 -,128.9972903,35.9673897
31552,2019-07-17 21:08:02,영동고속도로 마성IC 용인IC 34차로 장애물 주의운전 -,127.1952,37.2636
31553,2019-07-17 21:16:02,서울외곽순환고속도로 장수IC 송내IC 1차로 차량사고 주의운전 -,126.7543,37.4744
31554,2019-07-17 21:24:02,경부고속도로 동탄JC 오산IC 5차로 차량고장 주의운전 -,127.0882,37.1593
31555,2019-07-17 23:39:02,서울외곽순환고속도로 김포IC 김포T/G 5차로 차량사고 주의운전 -,126.7779,37.5987

In [75]:
df_kb = df[df['메세지'].str.contains('경부')].copy()
df_kb['고속도로']='경부고속도로'
df_kb['메세지'] = df_kb['메세지'].str.upper()

c_ic = 0
c_jc = 0
arr_ic = []
for strs in df_kb['메세지']:
    m_strs = strs.split()
    
    for st in m_strs:
        
        if 'IC' in st:
            s = st.split('IC')[0]
            if len(s)<=3 and len(s)>=1:
                arr_ic.append(s)
print(len(df_kb))
df_kb.head(5)

7437

,발생시간,메세지,경도,위도,고속도로
Unnamed: 0,,,,,
9,2014-12-01 10:39:02,경부고속도로 부산방향 영천 나들목 지나자마자 50M 전방 2차로에 화물차와 승용차 ...,128.951904288842,35.9223635888012,경부고속도로
13,2014-12-01 12:21:02,경부고속도로 부산방향 편도 4차로중 12차로 차대차 교통사고 약1KM 지정체 -,127.196042774013,36.7668421157834,경부고속도로
16,2014-12-01 14:12:02,경부고속도로 한남방향 양재IC->서초IC 4차로 고장차량 정체 -,127.028208703162,37.4773128302009,경부고속도로
19,2014-12-01 16:12:02,경부고속도로 서울 방향 황간휴게소 500M 지난 지점 23차로에 화물차 단독 사고가...,127.852303097518,36.2568256135994,경부고속도로
20,2014-12-01 16:18:02,경부고속도로 경주에서 언양방향 47KM 2차로갓길상 화물차 교통사고 후미 1KM 지체 -,129.158557169785,35.6290536141937,경부고속도로

In [76]:
arr_ics = list(set(arr_ic))

In [77]:
len(arr_ic)

6140

In [72]:
arr_ics

['잠원',
 '경산',
 '목천',
 '점원',
 '수원',
 '옥산',
 '언양',
 '통도사',
 '북천안',
 '(수원',
 '반포',
 '판교',
 '양재',
 '구미',
 '마성',
 '신탄진',
 '물류',
 '천안',
 '(판교',
 '구서',
 '흥덕',
 '대전',
 '(고등',
 '(청주',
 '서초',
 '(왜관',
 '김천',
 '안성',
 '서안성',
 '(목천',
 '북대구',
 '왜관',
 '(비룡',
 '활천',
 '노포',
 '동탄',
 '평촌',
 '(건천',
 '옥천',
 '팔공산',
 '성남',
 '양산',
 '비룡',
 '동김천',
 '(천안',
 '영천',
 '오산',
 '추풍령',
 '신갈',
 '동수원',
 '(활천',
 '(잠원',
 '서울산',
 '한남',
 '통도신',
 '양재I',
 '(대전',
 '황간',
 '(양재',
 '송탄',
 '건천',
 '경주',
 '신양재',
 '영동',
 '청주',
 '남구미',
 '기흥']