In [37]:
import pandas as pd
import numpy as np
import time
import math
import re
import shapefile
from urllib.parse import quote 
from urllib.request import Request, urlopen
import ssl
import json

pd.options.mode.chained_assignment = None  # default='warn'

In [39]:
from tqdm import tqdm,tqdm_notebook

In [2]:
def Findxy(s):
    kor_url = quote(s)    

    url = 'https://maps.googleapis.com/maps/api/geocode/json?address='+ kor_url +'&key=AIzaSyCpnOnLbW4Q1dd0ziA7JoWHq4j8NVxzq2M&language=ko'

    req = Request(url, headers={ 'X-Mashape-Key': 'AIzaSyCpnOnLbW4Q1dd0ziA7JoWHq4j8NVxzq2M' })
    ssltext = ssl.SSLContext(ssl.PROTOCOL_TLSv1)  
    company_addr_json = urlopen(req, context=ssltext).read().decode('utf8')

    addr = json.loads(company_addr_json)
    if len(addr['results'])==0:
        return[-1,-1]
    addr_detail = addr['results'][0]
    tmp = addr_detail['geometry']
    tmp = tmp['location']
    # 위도 : 'lat', 경도 : 'lng'
    return [tmp['lat'],tmp['lng']]

In [3]:
def Read_shf(filename):
    #filename="../datas/node/MOCT_NODE.shp"
    try:
        sf = shapefile.Reader(filename,encoding="CP949")
   
        records = sf.records()

        print("%s : %d"%(filename.split('/')[-1],len(records)))

        cols = []
        for field in sf.fields[1:]:
            cols.append(field[0])

        df = pd.DataFrame(records,columns=cols)

        #df=df.drop(cols[3:12],1)
        #print(df.head(3))
        
        return df
    
    except Exception as ex:
        print('에러 발생 :', ex)

In [4]:
# 콘존ID - 콘존명 데이터
df_cz_name = pd.read_csv('czid_to_gugan.txt',sep="\t",encoding='CP949')

cols = df_cz_name.columns
cols = cols[0].split(',')

df_cz_name.index = range(len(df_cz_name))
df_cz_name.columns=range(1)

df_cz_name = df_cz_name[0].str.split(',',n=12,expand=True)
df_cz_name.columns = cols
print(len(df_cz_name))
df_cz_name = df_cz_name.drop(['시작노드ID','종료노드ID','차로수','제한속도','버스전용차로유무','도로등급구분코드'],1)
df_cz_name['콘존명'] = df_cz_name['콘존명'].str.upper()
df_cz_name['콘존명'] = df_cz_name.apply(lambda row: re.sub('~','-',row['콘존명']),axis=1)
df_cz_name['콘존명'] = df_cz_name['콘존명'].str.split('-')

df_cz_name['시작노드명'] = df_cz_name.apply(lambda row: row['콘존명'][0], axis=1)
df_cz_name['종료노드명'] = df_cz_name.apply(lambda row: row['콘존명'][1], axis=1)
df_cz_name = df_cz_name.drop('콘존명',1)
df_cz_name.head(5)

1438

         콘존ID     콘존길이 기점종점방향구분코드  노선번호 노선구성순번     시작노드명 종료노드명
0  0010CZE005   200.00          E  0010      1  경부고속국도시점  구서IC
1  0010CZE010  1820.00          E  0010      2      구서IC  영락IC
2  0010CZE011  1990.00          E  0010      3      영락IC  부산TG
3  0010CZE020  1070.00          E  0010      4      부산TG    노포
4  0010CZE030  7780.00          E  0010      5      노포IC  노포JC

In [91]:
df_kb_cz = df_cz_name[df_cz_name['콘존ID'].str.contains('0010CZE')]
df_kb_cz['종료노드명'][df_kb_cz['종료노드명']=='노포']='노포'
df_kb_cz['시작노드명'][df_kb_cz['시작노드명']=='통도사HI']='통도사IC'
df_kb_cz['종료노드명'][df_kb_cz['종료노드명']=='통도사HI']='통도사IC'
print(len(df_kb_cz))
df_kb_cz.head(5)

65

         콘존ID     콘존길이 기점종점방향구분코드  노선번호 노선구성순번     시작노드명 종료노드명
0  0010CZE005   200.00          E  0010      1  경부고속국도시점  구서IC
1  0010CZE010  1820.00          E  0010      2      구서IC  영락IC
2  0010CZE011  1990.00          E  0010      3      영락IC  부산TG
3  0010CZE020  1070.00          E  0010      4      부산TG    노포
4  0010CZE030  7780.00          E  0010      5      노포IC  노포JC

In [22]:
for index,values in df_kb_cz.iterrows():
    m = False
    for key in ['IC','JC','TG']:
        if key in values['시작노드명']:
            m = True
    if m==False:
        print(values['시작노드명'])

경부고속국도시점
통도사HI

In [41]:
tmp = []

for index,values in df_kb_cz.iterrows():
    m = False
    for node_name in node['NODE_NAME']:
        if values['시작노드명'] in node_name:
            m = True
            #print(node_name,values['시작노드명'])
            break
    if m==False:
        tmp.append(values['시작노드명'])

['경부고속국도시점', '영락IC', '양산JC', '통도사HI', '김천JC', '금강IC', '서울TG', '금토JC']

In [70]:
def find_node_xy(s):
    a = []
    tmp = list(node['x좌표'][node['NODE_NAME'].str.contains(s)])
    try:
        a.append(tmp[0])
    except Exception:
        a.append(-1)
    tmp = list(node['y좌표'][node['NODE_NAME'].str.contains(s)])
    try:
        a.append(tmp[0])
    except Exception:
        a.append(-1)
    return a

In [92]:
#find_node_xy('대전IC')

df_kb_cz['시작노드좌표'] = df_kb_cz.apply(lambda row: find_node_xy(row['시작노드명']), axis=1)
df_kb_cz['종료노드좌표'] = df_kb_cz.apply(lambda row: find_node_xy(row['종료노드명']), axis=1)

In [101]:
print(find_node_xy('영락나들목'))
print(find_node_xy('김천분기점'))

[-1, -1]
[128.273, 36.157]

In [ ]:
df_kb_cz.to_csv(r'')

In [93]:
for index,values in df_kb_cz.iterrows():
    tmp = values['시작노드좌표']
    if tmp[0]==-1:
        print(values['시작노드명'])

경부고속국도시점
영락IC
양산JC
김천JC
금강IC
서울TG
금토JC

In [27]:
c_err = 0
c_all = 0
for node_name in df_cz_name['시작노드명']:
    if Findxy(node_name)[0]==-1:
        c_err+=1
    c_all+=1
    
print('에러 : %d / 총 : %d'%(c_err,c_all))

에러 : 311 / 총 : 1438

In [30]:
df_cz_name[df_cz_name['노선번호']=='0010'].head(3)

         콘존ID     콘존길이 기점종점방향구분코드  노선번호 노선구성순번     시작노드명 종료노드명
0  0010CZE005   200.00          E  0010      1  경부고속국도시점  구서IC
1  0010CZE010  1820.00          E  0010      2      구서IC  영락IC
2  0010CZE011  1990.00          E  0010      3      영락IC  부산TG

In [34]:
# 콘존ID - 좌표 데이터 위도,경도 변환

df_cz_xy = pd.read_csv('acc_conzone.csv',sep=',',encoding='CP949')
df_cz_xy = df_cz_xy.drop('Unnamed: 0',1)
str_arr= ['콘존ID','노선번호','방향','위도','경도','노선명']
df_cz_xy = df_cz_xy[str_arr]
df_cz_xy['노선번호'] = df_cz_xy.apply(lambda row: '%04d'%row['노선번호'], axis=1)
print(len(df_cz_xy))
df_cz_xy.head(1)

6301

         콘존ID  노선번호 방향         위도          경도  노선명
0  0010CZE010  0010  E  35.256977  129.101614  경부선

In [123]:
# 콘존 방향이 몇가지가 되는지
list(set(df_cz_xy['방향']))

['S', 'E']

In [70]:
# 고속도로 설치 정보 데이터
df_ic = pd.read_csv('highway_sisul.csv',sep=',',encoding="CP949")
df_ic = df_ic.set_index('Unnamed: 0')
df_ic['노선번호'] = df_ic.apply(lambda row: '%04d'%row['노선코드'], axis=1)
df_ic = df_ic[['IC/JCT명','노선명','노선번호','Y좌표값','X좌표값']]
print(len(df_ic))
df_ic.head(2)

407

           IC/JCT명         노선명  노선번호       Y좌표값        X좌표값
Unnamed: 0
0             진주IC  남해선(순천-부산)  0100  35.162711  128.118649
1             진성IC  남해선(순천-부산)  0100  35.191538  128.225744

In [73]:
kb_xy = df_cz_xy[df_cz_xy['노선명']=='경부선']
kb_name = df_cz_name[df_cz_name['노선번호']==kb_xy['노선번호'][0]]
kb_ic = df_ic[df_ic['노선번호']=='0010']

In [23]:
# 노드 데이터

node = Read_shf("../datas/node/MOCT_NODE(4326).shp")
node.head(2)

MOCT_NODE(4326).shp : 120700

,NODE_ID,NODE_TYPE,NODE_NAME,TURN_P,REMARK,USER_ID,WORKSTATE,DEPT_CODE,STNL_REG,TMPID,UPLOAD_ID,x좌표,y좌표
0,3330017400,101,고읍교차로,0,,korea,5,,333,OEXT3330017400,,127.325,34.862
1,3330016500,104,벌교터널,0,,korea,5,,333,OEXT3330016500,,127.323,34.847

In [24]:
node = node[['NODE_ID','NODE_TYPE','NODE_NAME','x좌표','y좌표']]
node.head(3)

      NODE_ID NODE_TYPE NODE_NAME      x좌표     y좌표
0  3330017400       101     고읍교차로  127.325  34.862
1  3330016500       104      벌교터널  127.323  34.847
2  3330015600       104      벌교터널  127.322  34.840

In [8]:
node.to_csv(r'node.csv')

In [5]:
node[node['NODE_NAME'].str.contains('TG')].head(3)

,NODE_ID,NODE_TYPE,NODE_NAME,TURN_P,REMARK,USER_ID,WORKSTATE,DEPT_CODE,STNL_REG,TMPID,UPLOAD_ID,x좌표,y좌표
359,3390011800,104,무안 TG,0,,korea,5,,339,OEXT3390011800,,126.496,35.008
360,3420003700,104,장성 TG,0,,korea,5,,342,OEXT3420003700,,126.790,35.283
389,3410007200,104,영광 TG,0,,korea,5,,341,OEXT3410007200,,126.554,35.303

In [132]:
m_all = 0
m_c = 0
for nn in kb_name['시작노드명']:
    tmp = []
    tmp = node[node['NODE_NAME'].str.contains(nn[:-2])]
    if len(tmp)>0:
        m_c+=1
    m_all+=1
    
print(m_c,m_all)

129 130

In [104]:
MOCT_NODE = Read_shf("../datas/node/MOCT_NODE.shp")
MOCT_NODE.head(2)

MOCT_NODE.shp : 120700

,NODE_ID,NODE_TYPE,NODE_NAME,TURN_P,REMARK,USER_ID,WORKSTATE,DEPT_CODE,STNL_REG,TMPID,UPLOAD_ID,x좌표,x,y
0,3330017400,101,고읍교차로,0,,korea,5,,333,OEXT3330017400,,229757,229757.357,251792.791
1,3330016500,104,벌교터널,0,,korea,5,,333,OEXT3330016500,,229535,229535.218,250194.520

In [111]:
m_all = 0
m_c = 0
for nn in kb_name['시작노드명']:
    if nn in list(MOCT_NODE['NODE_NAME']):
        m_c+=1
    else:
        if not list(Findxy(nn))[0]==-1:
            m_c+=1
        else:
            print(nn)
    m_all+=1
    
print(m_c,m_all)

경부고속국도시점
영락IC
노포JC
옥산IC
옥산JC
동탄JC
금토JC
영락IC
노포JC
옥산IC
옥산JC
동탄JC
금토JC
117 130

In [122]:
MOCT_NODE[MOCT_NODE['NODE_NAME'].str.contains('금토분기점')]

,NODE_ID,NODE_TYPE,NODE_NAME,TURN_P,REMARK,USER_ID,WORKSTATE,DEPT_CODE,STNL_REG,TMPID,UPLOAD_ID,x좌표,x,y
109944,2040142800,108,금토분기점(진출),0,,geostoryco,5,60170,204,TMPID20180621105042,geostoryco20180709161522,207299,207298.582,535389.412
109945,2040142900,108,금토분기점(진입),0,,geostoryco,5,60170,204,TMPID20180621105043,geostoryco20180709161522,207423,207422.721,534960.968

In [116]:
print(Findxy('옥산휴게소'))

[36.6577357, 127.369818]

In [94]:
kb_ic[kb_ic['IC/0000...................................................0........................................22.2JCT명'].str.contains('판교')]

           IC/JCT명  노선명  노선번호       Y좌표값        X좌표값
Unnamed: 0
90            판교IC  경부선  0010  37.397364  127.100674
166           판교IC  경부선  0010  37.399861  127.097416
375          판교JCT  경부선  0010  37.405061  127.094062

In [56]:
print(len(list(set(kb_xy['콘존ID']))),len(kb_name))

126 130

In [60]:
a = list(set(kb_xy['콘존ID']))
for aa in kb_name['콘존ID']:
    if not aa in a:
        print(aa)

0010CZE005
0010CZE500
0010CZS005
0010CZS500

In [61]:
kb_xy[kb_xy['콘존ID']==aa]

           콘존ID  노선번호 방향         위도          경도  노선명
836  0010CZS522  0010  S  37.516312  127.015942  경부선

407

           IC/JCT명         노선명  노선번호       Y좌표값        X좌표값
Unnamed: 0
0             진주IC  남해선(순천-부산)  0100  35.162711  128.118649
1             진성IC  남해선(순천-부산)  0100  35.191538  128.225744