In [9]:
import pandas as pd
import numpy as np
import time
import math
import re
import shapefile
from urllib.parse import quote 
from urllib.request import Request, urlopen
import ssl
import json

pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
from tqdm import tqdm,tqdm_notebook

In [3]:
def Findxy(s):
    kor_url = quote(s)    

    url = 'https://maps.googleapis.com/maps/api/geocode/json?address='+ kor_url +'&key=AIzaSyCpnOnLbW4Q1dd0ziA7JoWHq4j8NVxzq2M&language=ko'

    req = Request(url, headers={ 'X-Mashape-Key': 'AIzaSyCpnOnLbW4Q1dd0ziA7JoWHq4j8NVxzq2M' })
    ssltext = ssl.SSLContext(ssl.PROTOCOL_TLSv1)  
    company_addr_json = urlopen(req, context=ssltext).read().decode('utf8')

    addr = json.loads(company_addr_json)
    if len(addr['results'])==0:
        return[-1,-1]
    addr_detail = addr['results'][0]
    tmp = addr_detail['geometry']
    tmp = tmp['location']
    # 위도 : 'lat', 경도 : 'lng'
    return [tmp['lat'],tmp['lng']]

In [4]:
def Read_shf(filename):
    #filename="../datas/node/MOCT_NODE.shp"
    try:
        sf = shapefile.Reader(filename,encoding="CP949")
   
        records = sf.records()

        print("%s : %d"%(filename.split('/')[-1],len(records)))

        cols = []
        for field in sf.fields[1:]:
            cols.append(field[0])

        df = pd.DataFrame(records,columns=cols)

        #df=df.drop(cols[3:12],1)
        #print(df.head(3))
        
        return df
    
    except Exception as ex:
        print('에러 발생 :', ex)

In [14]:
# 콘존ID - 콘존명 데이터
df_cz_name = pd.read_csv('czid_to_gugan.txt',sep="\t",encoding='CP949')

cols = df_cz_name.columns
cols = cols[0].split(',')

df_cz_name.index = range(len(df_cz_name))
df_cz_name.columns=range(1)

df_cz_name = df_cz_name[0].str.split(',',n=12,expand=True)
df_cz_name.columns = cols
print(len(df_cz_name))
df_cz_name = df_cz_name.drop(['시작노드ID','종료노드ID','차로수','제한속도','버스전용차로유무','도로등급구분코드'],1)
df_cz_name['콘존명'] = df_cz_name['콘존명'].str.upper()
df_cz_name['콘존명'] = df_cz_name.apply(lambda row: re.sub('~','-',row['콘존명']),axis=1)
df_cz_name['콘존명'] = df_cz_name['콘존명'].str.split('-')

df_cz_name['시작노드명'] = df_cz_name.apply(lambda row: row['콘존명'][0], axis=1)
df_cz_name['종료노드명'] = df_cz_name.apply(lambda row: row['콘존명'][1], axis=1)
df_cz_name = df_cz_name.drop('콘존명',1)
df_cz_name.head(5)

1438

         콘존ID     콘존길이 기점종점방향구분코드  노선번호 노선구성순번     시작노드명 종료노드명
0  0010CZE005   200.00          E  0010      1  경부고속국도시점  구서IC
1  0010CZE010  1820.00          E  0010      2      구서IC  영락IC
2  0010CZE011  1990.00          E  0010      3      영락IC  부산TG
3  0010CZE020  1070.00          E  0010      4      부산TG    노포
4  0010CZE030  7780.00          E  0010      5      노포IC  노포JC

In [21]:
df_cz_name['콘존ID'][df_cz_name['종료노드명']=='경부고속국도시점']

65    0010CZS005
Name: 콘존ID, dtype: object

In [91]:
df_kb_cz = df_cz_name[df_cz_name['콘존ID'].str.contains('0010CZE')]
df_kb_cz['종료노드명'][df_kb_cz['종료노드명']=='노포']='노포'
df_kb_cz['시작노드명'][df_kb_cz['시작노드명']=='통도사HI']='통도사IC'
df_kb_cz['종료노드명'][df_kb_cz['종료노드명']=='통도사HI']='통도사IC'
print(len(df_kb_cz))
df_kb_cz.head(5)

65

         콘존ID     콘존길이 기점종점방향구분코드  노선번호 노선구성순번     시작노드명 종료노드명
0  0010CZE005   200.00          E  0010      1  경부고속국도시점  구서IC
1  0010CZE010  1820.00          E  0010      2      구서IC  영락IC
2  0010CZE011  1990.00          E  0010      3      영락IC  부산TG
3  0010CZE020  1070.00          E  0010      4      부산TG    노포
4  0010CZE030  7780.00          E  0010      5      노포IC  노포JC

In [22]:
for index,values in df_kb_cz.iterrows():
    m = False
    for key in ['IC','JC','TG']:
        if key in values['시작노드명']:
            m = True
    if m==False:
        print(values['시작노드명'])

경부고속국도시점
통도사HI

In [41]:
tmp = []

for index,values in df_kb_cz.iterrows():
    m = False
    for node_name in node['NODE_NAME']:
        if values['시작노드명'] in node_name:
            m = True
            #print(node_name,values['시작노드명'])
            break
    if m==False:
        tmp.append(values['시작노드명'])

NameError: name 'node' is not defined

In [7]:
def find_node_xy(s):
    a = []
    tmp = list(node['x좌표'][node['NODE_NAME'].str.contains(s)])
    try:
        a.append(tmp[0])
    except Exception:
        a.append(-1)
    tmp = list(node['y좌표'][node['NODE_NAME'].str.contains(s)])
    try:
        a.append(tmp[0])
    except Exception:
        a.append(-1)
    return a

In [92]:
#find_node_xy('대전IC')

df_kb_cz['시작노드좌표'] = df_kb_cz.apply(lambda row: find_node_xy(row['시작노드명']), axis=1)
df_kb_cz['종료노드좌표'] = df_kb_cz.apply(lambda row: find_node_xy(row['종료노드명']), axis=1)

In [8]:
print(find_node_xy('영락나들목'))
print(find_node_xy('김천분기점'))

[-1, -1]
[128.273, 36.157]

In [27]:
node[node['NODE_NAME'].str.contains('영락')]

#영락IC 금토JC

           NODE_ID NODE_TYPE NODE_NAME      x좌표     y좌표
27897   1780047400       102      영락공원  126.917  35.231
34221   1300002100       101     영락사거리  129.021  35.103
44750   4080002800       101     영락교차로  126.213  33.254
44783   4050013800       101      영락교회  126.543  33.510
45659   4080002801       101  (영락리경로당)  126.210  33.258
59456   2070040500       101   (영락교회앞)  127.090  37.739
80448   3880000700       101      영락교회  129.022  35.298
97125   1090018400       101       영락사  127.041  37.673
100083  4080114800       101    영락1교차로  126.205  33.263
112617  3540238600       104   영락교(북측)  128.764  36.581
112618  3540238700       104   영락교(남측)  128.765  36.580
114988  3440019800       103     영락교회앞  126.266  34.481
119934  4080081200       101  영락사독로 52  126.213  33.261

In [100]:
df_kb_cz = pd.read_csv('df_kb_cz.csv',encoding='utf-8')

In [101]:
df_kb_cz = df_kb_cz.drop('Unnamed: 0',1)
df_kb_cz.head(5)

,콘존ID,콘존길이,기점종점방향구분코드,노선번호,노선구성순번,시작노드명,종료노드명,시작노드좌표,종료노드좌표
0,0010CZE005,200.0,E,10,1,경부고속국도시점,구서IC,"[-1, -1]","[129.1, 35.249]"
1,0010CZE010,1820.0,E,10,2,구서IC,영락IC,"[129.1, 35.249]","[-1, -1]"
2,0010CZE011,1990.0,E,10,3,영락IC,부산TG,"[-1, -1]","[128.873, 35.172]"
3,0010CZE020,1070.0,E,10,4,부산TG,노포,"[128.873, 35.172]","[129.093, 35.28]"
4,0010CZE030,7780.0,E,10,5,노포IC,노포JC,"[129.097, 35.29]","[129.087, 35.295]"

1    [129.1, 35.249]
Name: 시작노드좌표, dtype: object

In [102]:
noxy = {}
noxy["김천JC"]= [36.159414, 128.266389]
noxy['서울TG']= [37.365424, 127.103262]
noxy['금강IC']= [36.279385, 127.668911]
noxy['양산JC']= [35.336431, 129.039901]
noxy['금토JC']= [37.415305, 127.084909]
noxy['영락IC']= [35.273936, 129.108735]

In [74]:
[noxy['김천JC'][0],noxy['김천JC'][1]]

[36.159414, 128.266389]

In [103]:
for i,v in df_kb_cz.iterrows():
    for key in noxy.keys():
        if v['시작노드명']==key:
            df_kb_cz.at[index,'시작노드좌표'] = [noxy[key][1],noxy[key][0]]
            df_kb_cz.at[index-1,'종료노드좌표'] = [noxy[key][1],noxy[key][0]]
df_kb_cz.head(5)

,콘존ID,콘존길이,기점종점방향구분코드,노선번호,노선구성순번,시작노드명,종료노드명,시작노드좌표,종료노드좌표
0,0010CZE005,200.0,E,10,1,경부고속국도시점,구서IC,"[-1, -1]","[129.1, 35.249]"
1,0010CZE010,1820.0,E,10,2,구서IC,영락IC,"[129.1, 35.249]","[127.084909, 37.415305]"
2,0010CZE011,1990.0,E,10,3,영락IC,부산TG,"[127.084909, 37.415305]","[128.873, 35.172]"
3,0010CZE020,1070.0,E,10,4,부산TG,노포,"[128.873, 35.172]","[129.093, 35.28]"
4,0010CZE030,7780.0,E,10,5,노포IC,노포JC,"[129.097, 35.29]","[129.087, 35.295]"

In [106]:
df_kb_cz.tail(6)

,콘존ID,콘존길이,기점종점방향구분코드,노선번호,노선구성순번,시작노드명,종료노드명,시작노드좌표,종료노드좌표
59,0010CZE500,570.0,E,10,60,대왕판교IC,금토JC,"[127.09, 37.411]","[127.084909, 37.415305]"
60,0010CZE505,7050.0,E,10,61,금토JC,양재IC,"[127.084909, 37.415305]","[127.038, 37.462]"
61,0010CZE510,2490.0,E,10,62,양재IC,서초IC,"[127.038, 37.462]","[127.024, 37.483]"
62,0010CZE520,1780.0,E,10,63,서초IC,반포IC,"[127.024, 37.483]","[127.242, 36.399]"
63,0010CZE521,1380.0,E,10,64,반포IC,잠원IC,"[127.242, 36.399]","[127.017, 37.507]"
64,0010CZE522,1300.0,E,10,65,잠원IC,한남IC,"[127.017, 37.507]","[127.016, 37.517]"

In [105]:
for i,v in df_kb_cz.iterrows():
    
    if v['시작노드명']=='경부고속국도시점':
        df_kb_cz.at[i,'시작노드좌표'] = [127.017277,37.519273]
        
    if v['시작노드명']=='금토JC':
        df_kb_cz.at[i,'시작노드좌표'] = [127.084909,37.415305]
    if v['종료노드명']=='금토JC':
        df_kb_cz.at[i,'종료노드좌표'] = [127.084909,37.415305]
           
df_kb_cz.head(5)

,콘존ID,콘존길이,기점종점방향구분코드,노선번호,노선구성순번,시작노드명,종료노드명,시작노드좌표,종료노드좌표
0,0010CZE005,200.0,E,10,1,경부고속국도시점,구서IC,"[127.017277, 37.519273]","[129.1, 35.249]"
1,0010CZE010,1820.0,E,10,2,구서IC,영락IC,"[129.1, 35.249]","[127.084909, 37.415305]"
2,0010CZE011,1990.0,E,10,3,영락IC,부산TG,"[127.084909, 37.415305]","[128.873, 35.172]"
3,0010CZE020,1070.0,E,10,4,부산TG,노포,"[128.873, 35.172]","[129.093, 35.28]"
4,0010CZE030,7780.0,E,10,5,노포IC,노포JC,"[129.097, 35.29]","[129.087, 35.295]"

In [175]:
df_kb_cz.to_csv(r'df_kb_cz.csv',encoding='cp949')

In [208]:
df_kb_cz = pd.read_csv('df_kb_cz.csv',encoding='cp949')
df_kb_cz = df_kb_cz.drop('Unnamed: 0',1)
df_kb_cz.tail(5)

,콘존ID,콘존길이,기점종점방향구분코드,노선번호,노선구성순번,시작노드명,종료노드명,시작노드좌표,종료노드좌표,시작노드x좌표,시작노드y좌표,종료노드x좌표,종료노드y좌표
60,0010CZE505,7050.0,E,10,61,금토JC,양재IC,"[127.0849, 37.4153]","[127.038, 37.462]",127.0849,37.4153,127.038,37.462
61,0010CZE510,2490.0,E,10,62,양재IC,서초IC,"[127.038, 37.462]","[127.024, 37.483]",127.0380,37.4620,127.024,37.483
62,0010CZE520,1780.0,E,10,63,서초IC,반포IC,"[127.024, 37.483]","[127.242, 36.399]",127.0240,37.4830,127.242,36.399
63,0010CZE521,1380.0,E,10,64,반포IC,잠원IC,"[127.242, 36.399]","[127.017, 37.507]",127.2420,36.3990,127.017,37.507
64,0010CZE522,1300.0,E,10,65,잠원IC,한남IC,"[127.017, 37.507]","[127.016, 37.517]",127.0170,37.5070,127.016,37.517

In [177]:
df_kb_cz[df_kb_cz['시작노드좌표'].str.contains('-1')]

Empty DataFrame
Columns: [콘존ID, 콘존길이, 기점종점방향구분코드, 노선번호, 노선구성순번, 시작노드명, 종료노드명, 시작노드좌표, 종료노드좌표]
Index: []

In [201]:
df_kb_cz['시작노드x좌표']= -1.0
df_kb_cz['시작노드y좌표']= -1.0
df_kb_cz['종료노드x좌표']= -1.0
df_kb_cz['종료노드y좌표']= -1.0
df_kb_cz.head(5)

,콘존ID,콘존길이,기점종점방향구분코드,노선번호,노선구성순번,시작노드명,종료노드명,시작노드좌표,종료노드좌표,시작노드x좌표,시작노드y좌표,종료노드x좌표,종료노드y좌표
0,0010CZE005,200.0,E,10,1,경부고속국도시점,구서IC,"[127.017277, 37.519273]","[129.1, 35.249]",-1.0,-1.0,-1.0,-1.0
1,0010CZE010,1820.0,E,10,2,구서IC,영락IC,"[129.1, 35.249]","[129.1087, 35.2739]",-1.0,-1.0,-1.0,-1.0
2,0010CZE011,1990.0,E,10,3,영락IC,부산TG,"[129.1087, 35.2739]","[128.873, 35.172]",-1.0,-1.0,-1.0,-1.0
3,0010CZE020,1070.0,E,10,4,부산TG,노포,"[128.873, 35.172]","[129.093, 35.28]",-1.0,-1.0,-1.0,-1.0
4,0010CZE030,7780.0,E,10,5,노포IC,노포JC,"[129.097, 35.29]","[129.087, 35.295]",-1.0,-1.0,-1.0,-1.0

In [202]:
for i,v in df_kb_cz.iterrows():
    v['시작노드좌표'] = v['시작노드좌표'][1:-1]
    tmp = v['시작노드좌표'].split(',')
    x = float(tmp[0])
    y = float(tmp[1])
    
    df_kb_cz.at[i,'시작노드x좌표']=x
    df_kb_cz.at[i,'시작노드y좌표']=y
df_kb_cz.head(5)

,콘존ID,콘존길이,기점종점방향구분코드,노선번호,노선구성순번,시작노드명,종료노드명,시작노드좌표,종료노드좌표,시작노드x좌표,시작노드y좌표,종료노드x좌표,종료노드y좌표
0,0010CZE005,200.0,E,10,1,경부고속국도시점,구서IC,"[127.017277, 37.519273]","[129.1, 35.249]",127.017277,37.519273,-1.0,-1.0
1,0010CZE010,1820.0,E,10,2,구서IC,영락IC,"[129.1, 35.249]","[129.1087, 35.2739]",129.100000,35.249000,-1.0,-1.0
2,0010CZE011,1990.0,E,10,3,영락IC,부산TG,"[129.1087, 35.2739]","[128.873, 35.172]",129.108700,35.273900,-1.0,-1.0
3,0010CZE020,1070.0,E,10,4,부산TG,노포,"[128.873, 35.172]","[129.093, 35.28]",128.873000,35.172000,-1.0,-1.0
4,0010CZE030,7780.0,E,10,5,노포IC,노포JC,"[129.097, 35.29]","[129.087, 35.295]",129.097000,35.290000,-1.0,-1.0

In [205]:
for i,v in df_kb_cz.iterrows():
    v['종료노드좌표'] = v['종료노드좌표'][1:-1]
    tmp = v['종료노드좌표'].split(',')
    x = float(tmp[0])
    y = float(tmp[1])
    
    df_kb_cz.at[i,'종료노드x좌표']=x
    df_kb_cz.at[i,'종료노드y좌표']=y
df_kb_cz.head(5)

,콘존ID,콘존길이,기점종점방향구분코드,노선번호,노선구성순번,시작노드명,종료노드명,시작노드좌표,종료노드좌표,시작노드x좌표,시작노드y좌표,종료노드x좌표,종료노드y좌표
0,0010CZE005,200.0,E,10,1,경부고속국도시점,구서IC,"[127.017277, 37.519273]","[129.1, 35.249]",127.017277,37.519273,129.1000,35.2490
1,0010CZE010,1820.0,E,10,2,구서IC,영락IC,"[129.1, 35.249]","[129.1087, 35.2739]",129.100000,35.249000,129.1087,35.2739
2,0010CZE011,1990.0,E,10,3,영락IC,부산TG,"[129.1087, 35.2739]","[128.873, 35.172]",129.108700,35.273900,128.8730,35.1720
3,0010CZE020,1070.0,E,10,4,부산TG,노포,"[128.873, 35.172]","[129.093, 35.28]",128.873000,35.172000,129.0930,35.2800
4,0010CZE030,7780.0,E,10,5,노포IC,노포JC,"[129.097, 35.29]","[129.087, 35.295]",129.097000,35.290000,129.0870,35.2950

In [206]:
df_kb_cz.to_csv(r'df_kb_cz.csv',encoding='cp949')

In [174]:
for i in df_kb_cz['종료노드좌표']:
    if not i[0] == '[':
        print(i)

[129.1087, 35.2739]
[129.0399, 35.3364]
[128.2664, 36.1594]
[127.6689, 36.2794]
[127.1033, 37.3654]
[127.0849, 37.4153]

In [131]:
#df_kb_cz[df_kb_cz['종료노드좌표'].str.contains('NaN')]

In [133]:
#df_kb_cz

In [170]:
for i,v in df_kb_cz.iterrows():
    
    if v['시작노드명'] in noxy.keys():
        x = float('%.4f'%noxy[v['시작노드명']][1])
        y = float('%.4f'%noxy[v['시작노드명']][0])
        df_kb_cz.at[i,'시작노드좌표']=list([x,y])
        print(df_kb_cz.at[i,'시작노드좌표'])
    if v['종료노드명'] in noxy.keys():
        x = float('%.4f'%noxy[v['종료노드명']][1])
        y = float('%.4f'%noxy[v['종료노드명']][0])
        df_kb_cz.at[i,'종료노드좌표']=list([x,y])
        print(df_kb_cz.at[i,'종료노드좌표'])

[129.1087, 35.2739]
[129.1087, 35.2739]
[129.0399, 35.3364]
[129.0399, 35.3364]
[128.2664, 36.1594]
[128.2664, 36.1594]
[127.6689, 36.2794]
[127.6689, 36.2794]
[127.1033, 37.3654]
[127.1033, 37.3654]
[127.0849, 37.4153]
[127.0849, 37.4153]

In [27]:
c_err = 0
c_all = 0
for node_name in df_cz_name['시작노드명']:
    if Findxy(node_name)[0]==-1:
        c_err+=1
    c_all+=1
    
print('에러 : %d / 총 : %d'%(c_err,c_all))

에러 : 311 / 총 : 1438

In [30]:
df_cz_name[df_cz_name['노선번호']=='0010'].head(3)

         콘존ID     콘존길이 기점종점방향구분코드  노선번호 노선구성순번     시작노드명 종료노드명
0  0010CZE005   200.00          E  0010      1  경부고속국도시점  구서IC
1  0010CZE010  1820.00          E  0010      2      구서IC  영락IC
2  0010CZE011  1990.00          E  0010      3      영락IC  부산TG

In [34]:
# 콘존ID - 좌표 데이터 위도,경도 변환

df_cz_xy = pd.read_csv('acc_conzone.csv',sep=',',encoding='CP949')
df_cz_xy = df_cz_xy.drop('Unnamed: 0',1)
str_arr= ['콘존ID','노선번호','방향','위도','경도','노선명']
df_cz_xy = df_cz_xy[str_arr]
df_cz_xy['노선번호'] = df_cz_xy.apply(lambda row: '%04d'%row['노선번호'], axis=1)
print(len(df_cz_xy))
df_cz_xy.head(1)

6301

         콘존ID  노선번호 방향         위도          경도  노선명
0  0010CZE010  0010  E  35.256977  129.101614  경부선

In [123]:
# 콘존 방향이 몇가지가 되는지
list(set(df_cz_xy['방향']))

['S', 'E']

In [70]:
# 고속도로 설치 정보 데이터
df_ic = pd.read_csv('highway_sisul.csv',sep=',',encoding="CP949")
df_ic = df_ic.set_index('Unnamed: 0')
df_ic['노선번호'] = df_ic.apply(lambda row: '%04d'%row['노선코드'], axis=1)
df_ic = df_ic[['IC/JCT명','노선명','노선번호','Y좌표값','X좌표값']]
print(len(df_ic))
df_ic.head(2)

407

           IC/JCT명         노선명  노선번호       Y좌표값        X좌표값
Unnamed: 0
0             진주IC  남해선(순천-부산)  0100  35.162711  128.118649
1             진성IC  남해선(순천-부산)  0100  35.191538  128.225744

In [73]:
kb_xy = df_cz_xy[df_cz_xy['노선명']=='경부선']
kb_name = df_cz_name[df_cz_name['노선번호']==kb_xy['노선번호'][0]]
kb_ic = df_ic[df_ic['노선번호']=='0010']

In [49]:
# 노드 데이터

node = Read_shf("../datas/node/MOCT_NODE(4326).shp")
node = node[['NODE_ID','NODE_TYPE','NODE_NAME','x좌표','y좌표']]
node.head(2)

MOCT_NODE(4326).shp : 120700

      NODE_ID NODE_TYPE NODE_NAME      x좌표     y좌표
0  3330017400       101     고읍교차로  127.325  34.862
1  3330016500       104      벌교터널  127.323  34.847

In [19]:
#node2 = node[node['NODE_TYPE']=='108']
#print(len(node2))
#node2

In [20]:
link = pd.read_csv("../datas/link/kb_link.csv",encoding='cp949')
print(len(link))
link.head(5)

949

,LINK_ID,F_NODE,T_NODE,ROAD_USE,LANES,ROAD_RANK,ROAD_NAME,MULTI_LINK,CONNECT,MAX_SPD,...,WORKSTATE,DEPT_CODE,STNL_REG,ROAD_TYPE,ROAD_NO,TMPID,UPLOAD_ID,SOSFNODEID,SOSTNODEID,SHAPE_STLe
0,3530047900,3530017600,3530022100,0,1.0,101,경부고속도로,0,101,40.0,...,5,51110,353,0,14,TEMP273,NaN,NaN,20080723125,931.860258
1,3530048000,3530017000,3530022100,0,1.0,101,경부고속도로,0,101,40.0,...,5,51110,353,0,14,TEMP271,NaN,NaN,20080723125,1570.815992
2,1540096900,1540004900,1540004800,0,4.0,101,경부고속도로,0,0,100.0,...,5,27000,154,0,1,RO2700120100000,NaN,NaN,NaN,2194.672744
3,1510047200,1510018700,1510004600,0,4.0,101,경부고속도로,0,0,100.0,...,5,27000,151,0,1,RO2700120200000,NaN,RN2700020000000,NaN,2106.606839
4,1510047300,1510004600,1540004900,0,4.0,101,경부고속도로,0,0,100.0,...,5,27000,151,0,1,RO2700120300000,NaN,NaN,NaN,260.070423

In [36]:
tmp = list(link['F_NODE'])
kb_node = []
for t in tmp:
    
    kb_node.append(node[node['NODE_ID']==str(t)])

In [1]:
#for kb in kb_node:
#    print(kb["NODE_NAME"].values)

In [41]:
len(kb_node)

949

In [42]:
len(tmp)

949

In [35]:
node[node['NODE_ID']==str(tmp[5])]

,NODE_ID,NODE_TYPE,NODE_NAME,TURN_P,REMARK,USER_ID,WORKSTATE,DEPT_CODE,STNL_REG,TMPID,UPLOAD_ID,x좌표,y좌표
30247,1510003100,108,동대구JC,0,,,5,,151,,,128.699,35.883

In [34]:
node.head(5)['NODE_ID'][0]
tmp[0]

3530017600

In [6]:
node = node[['NODE_ID','NODE_TYPE','NODE_NAME','x좌표','y좌표']]
node.head(3)

      NODE_ID NODE_TYPE NODE_NAME      x좌표     y좌표
0  3330017400       101     고읍교차로  127.325  34.862
1  3330016500       104      벌교터널  127.323  34.847
2  3330015600       104      벌교터널  127.322  34.840

In [8]:
node.to_csv(r'node.csv')

In [5]:
node[node['NODE_NAME'].str.contains('TG')].head(3)

,NODE_ID,NODE_TYPE,NODE_NAME,TURN_P,REMARK,USER_ID,WORKSTATE,DEPT_CODE,STNL_REG,TMPID,UPLOAD_ID,x좌표,y좌표
359,3390011800,104,무안 TG,0,,korea,5,,339,OEXT3390011800,,126.496,35.008
360,3420003700,104,장성 TG,0,,korea,5,,342,OEXT3420003700,,126.790,35.283
389,3410007200,104,영광 TG,0,,korea,5,,341,OEXT3410007200,,126.554,35.303

In [132]:
m_all = 0
m_c = 0
for nn in kb_name['시작노드명']:
    tmp = []
    tmp = node[node['NODE_NAME'].str.contains(nn[:-2])]
    if len(tmp)>0:
        m_c+=1
    m_all+=1
    
print(m_c,m_all)

129 130

In [104]:
MOCT_NODE = Read_shf("../datas/node/MOCT_NODE.shp")
MOCT_NODE.head(2)

MOCT_NODE.shp : 120700

,NODE_ID,NODE_TYPE,NODE_NAME,TURN_P,REMARK,USER_ID,WORKSTATE,DEPT_CODE,STNL_REG,TMPID,UPLOAD_ID,x좌표,x,y
0,3330017400,101,고읍교차로,0,,korea,5,,333,OEXT3330017400,,229757,229757.357,251792.791
1,3330016500,104,벌교터널,0,,korea,5,,333,OEXT3330016500,,229535,229535.218,250194.520

In [111]:
m_all = 0
m_c = 0
for nn in kb_name['시작노드명']:
    if nn in list(MOCT_NODE['NODE_NAME']):
        m_c+=1
    else:
        if not list(Findxy(nn))[0]==-1:
            m_c+=1
        else:
            print(nn)
    m_all+=1
    
print(m_c,m_all)

경부고속국도시점
영락IC
노포JC
옥산IC
옥산JC
동탄JC
금토JC
영락IC
노포JC
옥산IC
옥산JC
동탄JC
금토JC
117 130

In [122]:
MOCT_NODE[MOCT_NODE['NODE_NAME'].str.contains('금토분기점')]

,NODE_ID,NODE_TYPE,NODE_NAME,TURN_P,REMARK,USER_ID,WORKSTATE,DEPT_CODE,STNL_REG,TMPID,UPLOAD_ID,x좌표,x,y
109944,2040142800,108,금토분기점(진출),0,,geostoryco,5,60170,204,TMPID20180621105042,geostoryco20180709161522,207299,207298.582,535389.412
109945,2040142900,108,금토분기점(진입),0,,geostoryco,5,60170,204,TMPID20180621105043,geostoryco20180709161522,207423,207422.721,534960.968

In [116]:
print(Findxy('옥산휴게소'))

[36.6577357, 127.369818]

In [94]:
kb_ic[kb_ic['IC/0000...................................................0........................................22.2JCT명'].str.contains('판교')]

           IC/JCT명  노선명  노선번호       Y좌표값        X좌표값
Unnamed: 0
90            판교IC  경부선  0010  37.397364  127.100674
166           판교IC  경부선  0010  37.399861  127.097416
375          판교JCT  경부선  0010  37.405061  127.094062

In [56]:
print(len(list(set(kb_xy['콘존ID']))),len(kb_name))

126 130

In [60]:
a = list(set(kb_xy['콘존ID']))
for aa in kb_name['콘존ID']:
    if not aa in a:
        print(aa)

0010CZE005
0010CZE500
0010CZS005
0010CZS500

In [61]:
kb_xy[kb_xy['콘존ID']==aa]

           콘존ID  노선번호 방향         위도          경도  노선명
836  0010CZS522  0010  S  37.516312  127.015942  경부선

407

           IC/JCT명         노선명  노선번호       Y좌표값        X좌표값
Unnamed: 0
0             진주IC  남해선(순천-부산)  0100  35.162711  128.118649
1             진성IC  남해선(순천-부산)  0100  35.191538  128.225744