In [1]:
import pandas as pd
import numpy as np
import os
import time

In [2]:
def Merges(list1, list2):
    
    a = pd.DataFrame(list1)
    b = pd.DataFrame(list2)
    
    c = pd.merge(a,b, on = a.index)
    c.columns = range(c[c.index==0].size)
    c.set_index(c[0])
    c=c.drop(0,1)
    
    return c

In [12]:
def FindXY(df,df_cz):
    
    c=pd.DataFrame()
    tmp = 0
    now = 0
    count=0
    start = time.time()
    for cid in df['콘존ID'][:]:

        tmp_df = df_cz[df_cz['콘존ID']==cid]
        if tmp_df.empty:
            c=c.append(pd.DataFrame({'콘존ID':[cid],"위도":[0],"경도":[0]}))
        else:
            c=c.append(tmp_df)

        now = int(count/len(df)*100)
        if(now>tmp):
            print('%3d%%' % now, end='', flush = True)
        tmp = now
        count+=1
    end = time.time()
    tt = int(end-start)
    print('')
    print('[완료] %d초 소요'%tt)
    print('len(c) : %d'%len(c))

    cols = df.columns.values
    cols = np.append(cols,c.columns.values)
    
    tmp = Merges(df,c)
    tmp.columns=cols
    #mp.head(5)
    return tmp

In [24]:
#cols=df2_1000.columns.values
#c = pd.DataFrame({'콘존ID':['d'],"위도":[0],"경도":[0]})
a = df2_1000
b = df2_1000
cols = a.columns.values
cols = np.append(cols,b.columns.values)
for c in cols:
    for c2 in cols:
        
    if c == c2
c = Merges(a,b)
print(cols)
c.head(5)

['일자' '시간' '콘존ID' '차로유형' '통행속도' '일자' '시간' '콘존ID' '차로유형' '통행속도']

,1,2,3,4,5,6,7,8,9,10
0,20170715,805,0500CZS230,1,99.80,20170715,805,0500CZS230,1,99.80
1,20170715,805,0500CZS240,1,103.12,20170715,805,0500CZS240,1,103.12
2,20170715,805,0500CZS250,1,95.58,20170715,805,0500CZS250,1,95.58
3,20170715,805,0500CZS260,1,101.83,20170715,805,0500CZS260,1,101.83
4,20170715,805,0500CZS270,1,0.00,20170715,805,0500CZS270,1,0.00

In [9]:

folder='VDS_FAST'
path = r'%s'%folder

path2 = r'VDS_FAST'

df=pd.DataFrame()

file_list= os.listdir(path2)


start = time.time()

# 정상/오류 파일 개수 
count = 0
error_count=0

#진행 상황
m_sum = 0
tmp = -1
m_all = 0

d=len(file_list)
excs = ['.ipynb_checkpoints']
for i in file_list[:d]:
    
    strs = folder+'/'+i
    
    m_ctn = False
    for j in excs: 
        if(i==j):
            m_ctn=True
        else:
            m_ctn=False
    if(m_ctn):
        continue
    
    
    m_stat = os.stat(strs)
    m_size=m_stat.st_size
    m_sum+=m_size

m_all = m_sum
m_sum = 0

print(folder,' : %.2fMB' % (m_all/(1024*1024)))

for i in file_list[:d]:

    strs = folder+'/'+i
    
    m_ctn = False
    
    for j in excs:
        
        if(i==j):
            m_ctn=True
        else:
            m_ctn=False
    
    if(m_ctn):
        
        continue
    
    try:
        df_tmp = pd.read_csv(strs, sep="|", encoding='CP949', error_bad_lines=False, warn_bad_lines=False)
        df=df.append(df_tmp,sort=False)
        del df_tmp
    except:
        print(strs," 파일에서 에러발생")
        error_count+=1
    
    count+=1
        
    m_stat = os.stat(strs)
    m_size=m_stat.st_size
    m_sum+=m_size
    now = int(m_sum/m_all*100)
    if(now>tmp):
        print('%3d%%' % now, end='', flush = True)
    tmp = now



end = time.time()

print('\n소요시간 : %d초 (%d분)' % (int(end-start),(int(end-start)/60)))
print('총 파일 %6d개' % count)
print('총 에러 %6d개' % error_count)

df.columns=['일자','시간','콘존ID','차로유형','통행속도','???']
df=df.drop('???',1)

df.to_csv(r'test_fast.csv')
df.head(5)
#==> 소요시간 : 초
#==> 총 파일 1577개
#==> 총 에러 0개

VDS_FAST  : 12.31MB
100%
소요시간 : 0초 (0분)
총 파일      1개
총 에러      0개

         일자   시간        콘존ID  차로유형    통행속도
0  20170715  805  0500CZS230     1   99.80
1  20170715  805  0500CZS240     1  103.12
2  20170715  805  0500CZS250     1   95.58
3  20170715  805  0500CZS260     1  101.83
4  20170715  805  0500CZS270     1    0.00

In [6]:


df2 = pd.read_csv('test_fast.csv',sep=",")
df2= df2.set_index('Unnamed: 0')

df2.head(5)

                  일자   시간        콘존ID  차로유형    통행속도
Unnamed: 0
0           20170715  805  0500CZS230     1   99.80
1           20170715  805  0500CZS240     1  103.12
2           20170715  805  0500CZS250     1   95.58
3           20170715  805  0500CZS260     1  101.83
4           20170715  805  0500CZS270     1    0.00

In [4]:
df_cz = pd.read_csv('acc_conzone.csv',sep=',',encoding='CP949')
df_cz = df_cz.drop('Unnamed: 0',1)
str_arr= ['콘존ID','위도','경도']
df_cz2 = df_cz[str_arr]

print(len(df_cz2))
#df_cz[df_cz['콘존ID']=='0010CZE011']

#중복제거
df_cz2 = df_cz2.drop_duplicates('콘존ID',keep='first')
print(len(df_cz2))

df_cz2.head(5)

6301
1030

         콘존ID         위도          경도
0  0010CZE010  35.256977  129.101614
1  0010CZE011  35.265211  129.105973
3  0010CZE020  35.283054  129.104303
4  0010CZE030  35.287171  129.100226
5  0010CZE035  35.293179  129.089296

In [14]:
df2_1000.head(5)

                  일자   시간        콘존ID  차로유형    통행속도
Unnamed: 0
0           20170715  805  0500CZS230     1   99.80
1           20170715  805  0500CZS240     1  103.12
2           20170715  805  0500CZS250     1   95.58
3           20170715  805  0500CZS260     1  101.83
4           20170715  805  0500CZS270     1    0.00

In [25]:
df2_1000 = df2[:1000]
df2_1000_2 = FindXY(df2_1000, df_cz2)
df2_1000_2.head(5)

  1%  2%  3%  4%  5%  6%  7%  8%  9% 10% 11% 12% 13% 14% 15% 16% 17% 18% 19% 20% 21% 22% 23% 24% 25% 26% 27% 28% 29% 30% 31% 32% 33% 34% 35% 36% 37% 38% 39% 40% 41% 42% 43% 44% 45% 46% 47% 48% 49% 50% 51% 52% 53% 54% 55% 56% 57% 58% 59% 60% 61% 62% 63% 64% 65% 66% 67% 68% 69% 70% 71% 72% 73% 74% 75% 76% 77% 78% 79% 80% 81% 82% 83% 84% 85% 86% 87% 88% 89% 90% 91% 92% 93% 94% 95% 96% 97% 98% 99%
[완료] 3초 소요
len(c) : 1000

         일자   시간        콘존ID  차로유형    통행속도        콘존ID         위도          경도
0  20170715  805  0500CZS230     1   99.80  0500CZS230  37.691969  127.541312
1  20170715  805  0500CZS240     1  103.12  0500CZS240  37.739504  127.638648
2  20170715  805  0500CZS250     1   95.58  0500CZS250  37.749142  127.915491
3  20170715  805  0500CZS260     1  101.83  0500CZS260  37.903127  128.273206
4  20170715  805  0500CZS270     1    0.00  0500CZS270  37.977287  128.435622

In [11]:
df2_1000.head(5)

                  일자   시간        콘존ID  차로유형    통행속도
Unnamed: 0
0           20170715  805  0500CZS230     1   99.80
1           20170715  805  0500CZS240     1  103.12
2           20170715  805  0500CZS250     1   95.58
3           20170715  805  0500CZS260     1  101.83
4           20170715  805  0500CZS270     1    0.00

In [4]:
## 통행량

#highway/data/VDS_COUNT
folder='VDS_COUNT'
path = r'%s'%folder

df1=pd.DataFrame(
file_list= os.listdir(path)

start = time.time()

# 정상/오류 파일 개수 
count = 0
error_count=0

#진행 상황
m_sum = 0
tmp = -1
m_all = 0

d=len(file_list)

for i in file_list[:d]:
    
    strs = folder+'/'+i
    m_stat = os.stat(strs)
    m_size=m_stat.st_size
    m_sum+=m_size

m_all = m_sum
m_sum = 0

print(folder,' : %.2fMB' % (m_all/(1024*1024)))

for i in file_list[:d]:

    strs = folder+'/'+i
    
    try:
        df_tmp = pd.read_csv(strs, sep="|", encoding='CP949', error_bad_lines=False, warn_bad_lines=False)
        df1=df1.append(df_tmp,sort=False)
        del df_tmp
    except:
        #print(strs," 파일에서 에러발생")
        error_count+=1
    
    count+=1
        
    m_stat = os.stat(strs)
    m_size=m_stat.st_size
    m_sum+=m_size
    now = int(m_sum/m_all*100)
    if(now>tmp):
        print('%3d%%' % now, end='', flush = True)
    tmp = now
    
end = time.time()

print('\n소요시간 : %d초 (%d분)' % (int(end-start),(int(end-start)/60)))
print('총 파일 %6d개' % count)
print('총 에러 %6d개' % error_count)

df1.columns=['일자','시간','콘존ID','차로유형','통행량','???']
df1=df1.drop('???',1)
df1.head(5)
#==> 소요시간 : 초
#==> 총 파일 1577개
#==> 총 에러 0개

SyntaxError: invalid syntax (<ipython-input-4-0af0a164c8e7>, line 12)