In [4]:
#!pip install pymysql

#mysql-connector or pymysql

In [3]:
#!pip install sqlalchemy

In [1]:
import pandas as pd



import shapefile
import pymysql
from urllib.parse import quote 
from urllib.request import Request, urlopen
import ssl
import json

In [5]:
def Read_shf(filename):
    #filename="../datas/node/MOCT_NODE.shp"
    try:
        sf = shapefile.Reader(filename,encoding="CP949")
   
        records = sf.records()

        print("%s : %d"%(filename.split('/')[-1],len(records)))

        cols = []
        for field in sf.fields[1:]:
            cols.append(field[0])

        df = pd.DataFrame(records,columns=cols)

        #df=df.drop(cols[3:12],1)
        #print(df.head(3))
        
        return df
    
    except Exception as ex:
        print('에러 발생 :', ex)

In [4]:

from sqlalchemy import create_engine


pymysql.install_as_MySQLdb()
import MySQLdb
#engine = create_engine('mysql+mysqldb://mjupo:dkzkcmzl1!@192.168.1.100/jupodb',encoding='utf-8')
engine = create_engine('mysql+mysqldb://mjupo:dkzkcmzl1!@192.168.137.131/jupodb',encoding='utf-8')


conn = engine.connect()

In [5]:
df_acc2 = pd.read_sql_table('df_acc',conn)
df_acc2.index = df_acc2['index']
df_acc2 = df_acc2.drop('index',1)
df_acc2.head(1)

,발생시간,메세지,경도,위도,고속도로,콘존ID,방향
index,,,,,,,
0,2014-12-01 06:49:02,경인고속도로 부천-신월 3차로 추돌사고 지체 -,126.826106822352,37.5225191751392,경인고속도로,"['0552CZS100', '0600CZE080', 0.501085415819419...",0

In [10]:
#conn=engine.dispose()

In [10]:
df_acc = pd.read_csv('acc_highway_cz.csv',encoding='utf-8')
df_acc = df_acc.drop('Unnamed: 0',1)
print(len(df_acc))
df_acc['방향']=0
df_acc.head(1)

26486

,발생시간,메세지,경도,위도,고속도로,콘존ID,방향
0,2014-12-01 06:49:02,경인고속도로 부천-신월 3차로 추돌사고 지체 -,126.826106822352,37.5225191751392,경인고속도로,"['0552CZS100', '0600CZE080', 0.501085415819419...",0

In [13]:
table = 'df_acc'
df_acc.to_sql(name=table,con=engine,if_exists='append')

In [17]:
df_acc2 = pd.read_sql_table('table01',conn)
df_acc2.index = df_acc2['index']
df_acc2 = df_acc2.drop('index',1)
df_acc2.head(3)

,발생시간,메세지,경도,위도,고속도로,콘존ID,방향
index,,,,,,,
0,2014-12-01 06:49:02,경인고속도로 부천-신월 3차로 추돌사고 지체 -,126.826106822352,37.5225191751392,경인고속도로,"['0552CZS100', '0600CZE080', 0.501085415819419...",0
1,2014-12-01 06:50:02,경인고속도로 서인천-가좌 추돌사고 지체 -,126.675731372779,37.5068873058972,경인고속도로,"['0552CZS100', '0600CZE080', 0.119058978485211...",0
2,2014-12-01 06:51:02,영동고속도로 서창분기점 강릉방향 3차로 사고 지체 -,126.736762772379,37.4275702759106,영동고속도로,"['0450CZS270', '0500CZE010', 226.8929925047211...",0

In [10]:
# 노드 데이터

node = Read_shf("../datas/node/MOCT_NODE(4326).shp")
node = node[['NODE_ID','NODE_TYPE','NODE_NAME','x좌표','y좌표']]
node.head(2)

MOCT_NODE(4326).shp : 120700

      NODE_ID NODE_TYPE NODE_NAME      x좌표     y좌표
0  3330017400       101     고읍교차로  127.325  34.862
1  3330016500       104      벌교터널  127.323  34.847

In [12]:
table = 'tb_node'
node.to_sql(name=table,con=engine,if_exists='append')

In [20]:
link = pd.read_csv("../datas/link/link.csv",encoding='cp949')
link = link[['LINK_ID','F_NODE','T_NODE','LANES','ROAD_RANK','ROAD_NAME','CONNECT','MAX_SPD','ROAD_TYPE','ROAD_NO']]
link.head(2)

,LINK_ID,F_NODE,T_NODE,LANES,ROAD_RANK,ROAD_NAME,CONNECT,MAX_SPD,ROAD_TYPE,ROAD_NO
0,2570015801,2500008801,2570007200,2.0,101,중앙고속국도,0,100.0,0,55
1,2510366200,2510142600,2510140800,1.0,101,중앙고속도로,101,50.0,0,55

In [21]:
link.to_csv('link.csv',encoding='cp949')

In [22]:
table = 'tb_link'
link.to_sql(name=table,con=engine,if_exists='append')