In [1]:
#df1 = pd.read_csv('acc170715.csv',sep="\t",encoding='CP949')
import pandas as pd
import numpy as np
import csv

def Open_csv(file_name):
     
    df1 = pd.read_csv(file_name, sep="\t", encoding='CP949', error_bad_lines=False, warn_bad_lines=False)
    df1.index = range(len(df1))
    df1.columns=range(1)
    
    df2 = df1[0].str.split(',',n=11,expand=True)
    
    #df2 = pd.read_csv(file_name,sep=',',encoding='CP949',error_bad_lines=False)
    
    return df2

def Go_csv(file_name):
    
    with open(file_name, errors='ignore', newline='') as csvfile: 
    
        datas = list(csv.reader(csvfile)) 
    
    for i in range(len(datas)):

        err=0
        m_err=True
        while(m_err):
            if(len(datas[i]) != 9):
                datas[i][6] = datas[i][6]+datas[i][7]
                del(datas[i][7])
                err = err + 1
            else:
                m_err=False
    
    df = pd.DataFrame(datas)
    
    return df

In [297]:

#디렉토리에 있는 파일명 불러오는 소스

import os

#path = r"C:\Users\정환\Desktop\bigdatafile\team\수집\data"
path = r"Ac_Day_20142019"
folder='Ac_Day_20142019'

df3 = pd.DataFrame()
file_list = os.listdir(path)

# 모든 csv 파일 읽고 한 데이터 프레임에 저장

import time

start = time.time()

# 정상/오류 파일 개수 
count = 0
error_count=0

#진행 상황
m_sum = 0
tmp = -1
m_all = 0



for i in file_list:
    
    strs = folder+'/'+i
    m_stat = os.stat(str)
    m_size=m_stat.st_size
    m_sum+=m_size

m_all = m_sum
m_sum = 0

print(folder,' : %.2fMB' % (m_all/(1024*1024)))

for i in file_list:

    strs = folder+'/'+i
    
    try:
        df3=df3.append(Open_csv(strs))
    except:
        print(strs," 파일에서 에러발생")
        error_count+=1
    
    
    count+=1
        
    m_stat = os.stat(strs)
    m_size=m_stat.st_size
    m_sum+=m_size
    now = int(m_sum/m_all*100)
    if(now>tmp):
        print('%3d%%' % now, end='', flush = True)
    tmp = now

end = time.time()

print('\n소요시간 : %d초' % int(end-start))
print('총 파일 %6d개' % count)
print('총 에러 %6d개' % error_count)
print('총 사고 %6d건' % len(df3[df3[4]=='1']))

#==> 소요시간 : 초
#==> 총 파일 1577개
#==> 총 에러 0개
#==> 총 사고 265882건

#df3.columns=("생성일", "사고ID" , "발생시간", "상태", "분류코드", "분류명", "메세지", "coodX", "coodY")

Ac_Day_20142019  : 112.87MB
  0%  1%  2%  3%  4%  5%Ac_Day_20142019/Ac_Day_20150414.csv  파일에서 에러발생
Ac_Day_20142019/Ac_Day_20150419.csv  파일에서 에러발생
  6%  7%  8%  9% 10%Ac_Day_20142019/Ac_Day_20150624.csv  파일에서 에러발생
Ac_Day_20142019/Ac_Day_20150628.csv  파일에서 에러발생
 11%Ac_Day_20142019/Ac_Day_20150701.csv  파일에서 에러발생
Ac_Day_20142019/Ac_Day_20150704.csv  파일에서 에러발생
Ac_Day_20142019/Ac_Day_20150707.csv  파일에서 에러발생

KeyboardInterrupt:

In [298]:
# 불러온 데이터 프레임 csv 파일로 만듬

import os

# 사고인 것만

#acc=df3[df3[4]=='1']
#acc.to_csv(r'acc_data.csv')

# 전체 다

#df3.to_csv(r'all_data.csv')

strs = 'acc_data.csv'
m_stat = os.stat(strs)
m_size=m_stat.st_size
print('acc_data.csv : %.2f MB' % (m_size/(1024*1024)))

strs = 'all_data.csv'
m_stat = os.stat(strs)
m_size=m_stat.st_size
print('all_data.csv : %.2f MB' % (m_size/(1024*1024)))

acc_data.csv : 54.06 MB
all_data.csv : 127.01 MB

In [222]:
'''
import string
count = 0
for i in pd.date_range("2014-11-1", "2019-6-30", freq="MS"):
    #print(i)
    s = str(i).split('-')
    #print(s[0],'년',s[1],'월')
    count+=1

# m_all : byte
m_all2 = m_all/1024/1024

t = end-start #초
print('위, 데이터 처리 %.2fMB, %d초'%(m_all2,int(t)))


def tt(size):
    rt = size*t/m_all2
    
    print('%d MB : %d 분(%d시간)'%(size,rt/60,rt/3600))

x=2700*3

tt(x)
'''

위, 데이터 처리 104.54MB, 339초
8100 MB : 438 분(7시간)

In [1]:
import pandas as pd

acc2 = pd.read_csv('acc_data.csv',sep=",")
acc2= acc2.set_index('Unnamed: 0')

acc2.columns = range(12)

# NaN 오류방지
acc2[6].loc[acc2[6].isnull()] = ''

#고속도로 키워드로 고속도로 사고만 보기
acc_highway = acc2.loc[acc2[6].str.contains('고속도로')]
acc_highway.index = range(len(acc_highway))
#acc_highway.index = range(len(acc_highway[0]))

print('총 사고 건수 : %d개' % len(acc2))
print('총 고속도로 사고 건수 : %d개' % len(acc_highway[0]))

acc2.head(5)

c:\programdata\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
c:\programdata\miniconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

총 사고 건수 : 265882개
총 고속도로 사고 건수 : 31556개

,0,1,2,3,4,5,6,7,8,9,10,11
Unnamed: 0,,,,,,,,,,,,
0,2014-12-01 06:53:01,21304,2014-12-01 06:40:02,2014-12-01 07:10:00,1,사고,원종로 성곡삼거리에서 성곡사거리방향,성곡삼거리 150m 정도 지난 지점 2차로 버스가 고장으로 세워져 있음 후미지체 -,126.803909092613,37.5162515391543,NaN,NaN
1,2014-12-01 06:55:31,21306,2014-12-01 06:49:02,2014-12-01 07:19:00,1,사고,경인고속도로 부천-신월 3차로 추돌사고 지체 -,126.826106822352,37.5225191751392,NaN,NaN,NaN
2,2014-12-01 06:56:01,21308,2014-12-01 06:50:02,2014-12-01 07:20:00,1,사고,경인고속도로 서인천-가좌 추돌사고 지체 -,126.675731372779,37.5068873058972,NaN,NaN,NaN
3,2014-12-01 06:56:40,21347,2014-12-01 06:51:02,2014-12-01 07:21:00,1,사고,영동고속도로 서창분기점 강릉방향 3차로 사고 지체 -,126.736762772379,37.4275702759106,NaN,NaN,NaN
5,2014-12-01 06:57:31,21349,2014-12-01 06:50:02,2014-12-01 07:20:00,1,사고,제2경인고속도로 문학-남동 1차로 추돌사고 지체 -,126.685986373565,37.4318673990613,NaN,NaN,NaN

In [296]:
import csv

with open('acc_highway.csv',encoding='utf-8',newline='') as csvfile: 
    data = list(csv.reader(csvfile))

print(data[1][7])
#df.head(1)
print(len(data))

for i in range(0,len(data)):
    
    blnk=0
 
    for j in data[i][9:13]:
        if j =='':
            blnk+=1
   
    m_fix =3-blnk
    idx = 7
    
    for j in range(m_fix):
        j+=1
        data[i][idx]+=data[i][idx+j]
    idx+=1
    data[i][idx] = data[i][idx+m_fix]
    idx+=1
    data[i][idx] = data[i][idx+m_fix]
    
    for j in range(12,9,-1):
        del data[i][j]
        

df = pd.DataFrame(data[1:])
# index, 생성일 , 사고ID , ####, 상태 , 분류코드, 분류명 제거
m_drop=[0,1,2,4,5,6]
df=df.drop(m_drop,axis=1)

df.index=range(len(df))
df.columns=['발생시간','메세지','경도','위도']
df[df['경도'] ]

#df.columns=["생성일", "사고ID" , "발생시간", "상태", "분류코드", "분류명", "메세지", "coodX", "coodY"]

경인고속도로 부천-신월 3차로 추돌사고 지체 -
31557

,발생시간,메세지,경도,위도
0,2014-12-01 06:49:02,경인고속도로 부천-신월 3차로 추돌사고 지체 -,126.826106822352,37.5225191751392
1,2014-12-01 06:50:02,경인고속도로 서인천-가좌 추돌사고 지체 -,126.675731372779,37.5068873058972
2,2014-12-01 06:51:02,영동고속도로 서창분기점 강릉방향 3차로 사고 지체 -,126.736762772379,37.4275702759106
3,2014-12-01 06:50:02,제2경인고속도로 문학-남동 1차로 추돌사고 지체 -,126.685986373565,37.4318673990613
4,2014-12-01 07:11:02,서울외곽순환고속도로 산본 - 평촌방향 1차로 승용차관련 사고처리중 후미지체 -,126.941595064846,37.3788016855273

In [315]:
import os 

df.to_csv(r'acc_highway2.csv')
m_str = 'acc_highway2.csv'
m_stat = os.stat(m_str)
m_size=m_stat.st_size
print('acc_highway2.csv : %.2f MB' % (m_size/(1024*1024)))

acc_highway2.csv : 4.81 MB

In [329]:
######################################
######################################
######################################
######################################
######################################
######################################
######################################
######################################

In [1]:
###################

#여기서부터 시작

###################

import pandas as pd

acc_highway = pd.read_csv('acc_highway2.csv',sep=",")

acc_highway= acc_highway.set_index('Unnamed: 0')

#acc_highway.head(10)
print(len(acc_highway))

31556

In [2]:
acc_highway.head(5)

,발생시간,메세지,경도,위도
Unnamed: 0,,,,
0,2014-12-01 06:49:02,경인고속도로 부천-신월 3차로 추돌사고 지체 -,126.826106822352,37.5225191751392
1,2014-12-01 06:50:02,경인고속도로 서인천-가좌 추돌사고 지체 -,126.675731372779,37.5068873058972
2,2014-12-01 06:51:02,영동고속도로 서창분기점 강릉방향 3차로 사고 지체 -,126.736762772379,37.4275702759106
3,2014-12-01 06:50:02,제2경인고속도로 문학-남동 1차로 추돌사고 지체 -,126.685986373565,37.4318673990613
4,2014-12-01 07:11:02,서울외곽순환고속도로 산본 - 평촌방향 1차로 승용차관련 사고처리중 후미지체 -,126.941595064846,37.3788016855273

In [12]:
acc_highway[(acc_highway['메세지'].str)[:-3].str.contains('-')]

,발생시간,메세지,경도,위도
Unnamed: 0,,,,
0,2014-12-01 06:49:02,경인고속도로 부천-신월 3차로 추돌사고 지체 -,126.826106822352,37.5225191751392
1,2014-12-01 06:50:02,경인고속도로 서인천-가좌 추돌사고 지체 -,126.675731372779,37.5068873058972
3,2014-12-01 06:50:02,제2경인고속도로 문학-남동 1차로 추돌사고 지체 -,126.685986373565,37.4318673990613
4,2014-12-01 07:11:02,서울외곽순환고속도로 산본 - 평촌방향 1차로 승용차관련 사고처리중 후미지체 -,126.941595064846,37.3788016855273
11,2014-12-01 10:53:02,평택음성간고속도로 안진터널 - 금광3터널방향 2차로 화물차관련 사고 처리중 후미지체 -,127.339893351034,36.9820816523809
16,2014-12-01 14:12:02,경부고속도로 한남방향 양재IC->서초IC 4차로 고장차량 정체 -,127.028208703162,37.4773128302009
17,2014-12-01 15:48:02,영동고속도로 안산IC->서안산IC(인천방향) 23차로교통사고 주의요망 -,126.813356565873,37.3502560039223
26,2014-12-01 17:54:02,서울외곽순환고속도로 판교(일산) 방향 산본나들목->조남분기점 23차로 승용차 관련사...,126.927271270842,37.3756425328352
28,2014-12-01 18:10:02,남해제2고속도로 옛 서부산요금소 - 낙동대교 방향 낙동대교 끝지점 주행로 승용차 화...,128.971209473885,35.1526786133664
29,2014-12-01 20:07:02,서울외곽순환고속도로 판교(일산)방향 도리분기점->안현분기점 1차로 승용차 관련사고 ...,126.844236213813,37.3999667500817
37,2014-12-02 11:18:02,영동고속도로 (강릉방향) 부곡나들목-북수원나들목 구간 2차로 추돌사고 후미지체 -,126.973340716374,37.3181927186714
38,2014-12-02 15:54:02,남해고속도로 부산방면 동창원-2k지점 5톤차량 고장으로 정차 안전운전당부 -,128.677582528501,35.2726380163985
39,2014-12-02 17:31:02,경부고속도로 한남방향 양재IC->서초IC 3차로 택시고장 후미정체 -,127.034203217683,37.4693222525273
44,2014-12-02 19:57:02,영동고속도로 군자-월곳 교통사고 지체 -,126.79388814061,37.3543094775622
45,2014-12-02 19:59:02,제2경인고속도로 신천-광명 안현분기점부근 교통사고 약간지체 -,126.826109184553,37.4387076657095
46,2014-12-02 19:58:02,영동고속도로 군자-월곳 12차로사고 지체 -,126.798770508623,37.3531373754583
47,2014-12-02 20:00:02,서울외곽순환고속도로 서운-중동 접촉사고 지체 -,126.748478253691,37.5031766706049
48,2014-12-02 22:34:02,서울외곽순환고속도로 중동-서운 접촉사고 약간지체 -,126.752383725313,37.5172430066528
49,2014-12-03 01:08:02,경인고속도로 신월-부천 추돌사고 약간지체 2차사고위험,126.823177372149,37.5242774059676
51,2014-12-03 03:08:02,용인-서울고속도로 (동수원나들목)에서 (신갈분기점) (3.4 차로)화물차 관련 사고...,127.058132661584,37.2954256354637
54,2014-12-03 08:15:02,남해고속도로 덕천나들목 - 대저분기점 방향 덕천나들목 주행로에 화물차 승용차 추돌...,129.00527998089,35.2153441026918
56,2014-12-03 08:34:02,경부고속도로 오산 - 동탄방향 4차로 승용차관련 사고처리중 후미지체 -,127.088398347935,37.1575406092339
57,2014-12-03 09:28:02,제2경인고속도로 문학IC->남동IC(안양방향) 1차로교통사고 주의요망 -,126.689159864995,37.4327954383655
58,2014-12-03 09:45:02,서해안고속도로 서평택 - 발안방향 1차로 승용차관련 사고 처리중 후미지체 -,126.888127533727,37.1072241432991
71,2014-12-04 09:27:02,영동고속도로 서창-월곳 3차로 사고 약간지체 -,126.738227942943,37.4107689263545
79,2014-12-04 14:50:02,서해안고속도로 (목포 방향) 매송나들목->비봉나들목 34차로 1톤 화물차 관련사고 ...,126.896385148377,37.2753054290941
80,2014-12-04 14:55:02,제2경인고속도로 신천-안현 단독사고 약간지체 -,126.810485938402,37.43069742819
81,2014-12-04 15:31:02,익산포항고속도로 26k하행-상관2터널 입구 2차로 택시단독사고 눈길주의서행 -,127.272206418286,35.8017572242803
83,2014-12-04 15:58:02,평택음성간고속도로 (평택 방향) 송탄나들목->평택분기점 1차로 화물차 관련사고 처리...,127.101778779174,37.0364158615923
84,2014-12-04 18:01:02,경부고속도로 (서울 방향) 죽전휴게소->서울요금소 234차로 승용차 관련사고 처리 ...,127.103694552284,37.3333890447484
...,...,...,...,...
18632,2018-09-22 13:49:02,경부고속도로 반포IC 서초IC 2차로 (승용차-승용차) 후미 정체 교통사고 서울청,127.024944555709,37.486020869799
18697,2018-09-25 13:12:02,경부고속도로 잠원IC 반포IC 3차로 (승용차-버스) 후미 정체 교통사고 서울청,127.01665922228,37.5078466352792
19045,2018-10-05 18:58:02,경부고속도로 서초IC 반포IC 2차로 (승용차-승용차) 후미 정체 교통사고 서울청,127.02552268265,37.4849458329683
19053,2018-10-05 20:47:02,경부고속도로 양재IC 서초IC 2차로 (승용차-승용차) 후미 정체 교통사고 서울청,127.036325348008,37.4674120336297
19070,2018-10-06 08:49:02,경인고속도로 경인2지하차도 신월IC 2차로 (승용차-승용차) 후미 쩡쳬 교통사고 서울청,126.852656283398,37.5285090769001
19276,2018-10-12 13:38:02,경부고속도로 양재IC 서초IC 3차로 (승용차-화물차) 후미 정체 교통사고 서울청,127.027735157839,37.4790727174508
19763,2018-10-24 12:56:02,서해안고속도로 서평택ic-200m 서평택JC 서평택IC북측본선 1차로 0km(송악I...,126.8701653,37.0102775
20384,2018-11-13 21:08:02,경부고속도로 잠원IC 반포IC 4차로 (승용차-승용차) 후미 지체 교통사고 서울청,127.016885968053,37.5071542453988
20592,2018-11-19 16:06:02,경인고속도로 부천IC 신월IC 4차로 (승용차-화물차) 후미 정체 교통사고 서울청,126.831770826873,37.5250109918503
20985,2018-12-01 14:38:02,경부고속도로 서초IC 양재IC 2차로 (승용차-승용차) 후미 정체 교통사고 서울청,127.026743378288,37.481014137636
20997,2018-12-01 18:33:02,경부고속도로 달래내고개 양재IC 4차로 (승용차-승용차) 후미 정체 교통사고 서울청,127.04116205586,37.4623326350533
21102,2018-12-04 19:02:02,경부고속도로 서초IC 양재IC 4차로 (승용차-승용차) 후미 정체 교통사고 서울청,127.026249155533,37.4824738005129
21671,2018-12-18 10:29:02,경부고속도로 서초IC 양재IC 23차로 (승용차-승용차) 후미 정체 교통사고 서울청,127.025980450544,37.483224188595
23230,2019-01-29 13:08:02,경부고속도로 서초IC 반포IC 4차로 (화물차-승용차) 후미 정체 교통사고 서울청,127.025931498708,37.4837869191912
23953,2019-02-21 16:54:02,경부고속도로 서초IC 양재IC 5차로 (승용차-승용차) 후미 정체 교통사고 서울청,127.032206990002,37.4714865954151
24335,2019-03-01 20:53:02,경부고속도로 반포IC위 서초IC 3차로 승용차-승용차. 후미 정체 교통사고 서울청,127.018389158371,37.5032050370123
24355,2019-03-02 14:18:02,경부고속도로 반포IC 서초IC 2차로 택시-승용차. 후미 정체 교통사고 서울청,127.019632362173,37.5000152761763
24770,2019-03-11 14:49:02,경부고속도로 신양재IC 양재IC 4차로 화물차-승용차 등. 후미 정체 교통사고 서울청,127.044611887404,37.4586566659796
25281,2019-03-22 10:06:02,경부고속도로 양재IC 서초IC 5차로 화물차-승용차. 후미 정체 교통사고 서울청,127.037822558732,37.4658310882053
25951,2019-04-05 10:01:02,당진-영덕간고속도로 동안동IC 영덕IC방면188km지점 1차로 갓길 고장차량 차량...,129.3635779,36.3819763
26668,2019-04-18 17:13:02,경부고속도로 한남IC 올림픽대로진입램프 1차로 승용차-승합차. 후미 정체 교통사고 서울청,127.015899634924,37.5230500138307
27771,2019-05-10 09:55:02,경부고속도로 북대구IC 북대구IC 12차로 0km(방향) 경부선 상 133k-135...,128.5820008,35.9062623
28276,2019-05-18 15:44:02,경부고속도로 반포IC 잠원IC 1차로 승용차-승용차. 후미 정체 교통사고 서울청,127.01800498127,37.5046376949606
28464,2019-05-22 09:13:02,경부고속도로 달래내고개 양재IC 4차로 승용차-화물차. 후미 정체 교통사고 서울청,127.040189366292,37.4633254950396
28873,2019-05-29 17:25:02,경부고속도로 서초IC 반포IC 2차로 승용차-화물차. 후미 정체 교통사고 서울청,127.019937639513,37.4997719533936
29162,2019-06-03 15:52:02,경인고속도로 부천IC 신월IC 4차로 승용차-승용차. 후미 정체 교통사고 서울청,126.826917075799,37.5241991773036
30131,2019-06-20 19:15:02,경부고속도로 서초IC 반포IC 3차로 승용차-승용차. 후미 정체 교통사고 서울청,127.022005581502,37.4943475268019
30249,2019-06-22 18:04:02,경부고속도로 서초IC 반포IC 45차로 승용차-버스. 후미 정체 교통사고 서울청,127.019056108768,37.5019975836473
30850,2019-07-04 11:27:02,경부고속도로 신양재IC 양재IC 4차로 승용차-승용차. 후미 정체 교통사고 서울청,127.041358599163,37.4621042206707
30933,2019-07-06 09:30:02,경부고속도로 삼호가든 반포IC진입로 1차로 승용차-승용차. 후미 정체 교통사고 서울청,127.018230611447,37.5023220760094

In [5]:
acc_conzone = pd.read_csv('acc_conzone.csv',sep=",",encoding='CP949')
print(len(acc_highway))
acc_conzone.head(5)

31556

,Unnamed: 0,콘존ID,방향,grs80x,grs80y,노선번호,노선명,위도,경도
0,0,0010CZE010,E,391265.163647,297630.026461,10,경부선,35.256977,129.101614
1,1,0010CZE011,E,391642.593415,298552.164856,10,경부선,35.265211,129.105973
2,2,0010CZE011,E,391873.608131,299421.834737,10,경부선,35.273000,129.108714
3,3,0010CZE020,E,391448.581180,300529.001930,10,경부선,35.283054,129.104303
4,4,0010CZE030,E,391067.929665,300978.024563,10,경부선,35.287171,129.100226

In [12]:
import math

def FindIC(x,y):

    df_x1 = acc_conzone['경도']
    df_y1 = acc_conzone['위도']
    d=0
    c=0
    m=0
    mx=0
    for x1 in acc_conzone['경도']:
        if x1 ==0.0:
            continue
        y1 = acc_conzone['위도'][acc_conzone['경도']==x1]
        y1 = y1.values[0]
        a = (x-x1)*(x-x1)
        b = (y-y1)*(y-y1)
        c = a+b
        c = math.sqrt(c)
        if c < d:
            m = c
            mx = x1
        d = c
    
    return acc_conzone['콘존ID'][acc_conzone['경도']==mx].values[0]

In [13]:
FindIC(35.287171,129.100226)

'0650CZS170'

In [9]:
nosun = list(set(acc_conzone['노선명']))
nosun

['제2경인선',
 '통영대전선',
 '남해1지선',
 '무안광주선',
 '서천공주선',
 '당진대전선',
 '대전남부선',
 '호남지선',
 '광주대구선',
 '부산울산선',
 '동해선(삼척-속초)',
 '남해2지선',
 '평택화성선',
 '봉담동탄선',
 '순천완주선',
 '남해선(영암-순천)',
 '중앙선',
 '청주영덕선',
 '호남선',
 '인천공항선',
 '경부선',
 '서해안선',
 '평택제천선',
 '영동선',
 '중부내륙지선',
 '익산장수선',
 '중앙선지선',
 '부산외곽선',
 '남해선(순천-부산)',
 '울산선',
 '중부선',
 '제2중부선',
 '경인선',
 '서울외곽순환선',
 '고창담양선',
 '서울양양선',
 '대구포항선',
 '중부내륙선']

In [326]:
acc_highway['경도']=pd.to_numeric(acc_highway['경도'],errors='coerce')
acc_highway['위도']=pd.to_numeric(acc_highway['위도'],errors='coerce')
count=0
for i in acc_highway:
    for j in i:

4

In [45]:
# 연도별 사고 건수
sums = 0
for i in range(2014,2020):
    tmp = len(acc_highway[acc_highway['발생시간'].str.contains('%d-' % i)])
    print('%4d년 :%5d건' % (i, tmp))
    sums += tmp

print('연도별 총 사고 건수 : %d건' % sums)

2014년 :  436건
2015년 : 4574건
2016년 : 4913건
2017년 : 2901건
2018년 : 9351건
2019년 : 9381건
연도별 총 사고 건수 : 31556건

In [47]:
# 외부 통계자료와 비교

import io

TESTDATA = io.StringIO('''노선번호	기준년도	2014	2015	2016	2017	2018
합계	사고건수	3583	4495	4347	4146	4079
합계	사망자수	273	241	273	248	252
합계	부상자수	8578	11014	10318	9778	8913
경부	사고건수	891	1074	1069	911	873
경부	사망자수	51	58	53	37	41
경부	부상자수	2418	3002	2951	2606	2164
경인	사고건수	87	84	109	129	89
경인	사망자수	6	3	5	2	2
경인	부상자수	158	178	207	235	188
호남	사고건수	186	252	185	201	141
호남	사망자수	27	20	14	23	10
호남	부상자수	428	632	456	466	329
영동	사고건수	362	558	512	423	362
영동	사망자수	13	17	15	24	16
영동	부상자수	884	1393	1430	957	813
남해	사고건수	184	213	149	150	106
남해	사망자수	15	15	17	9	9
남해	부상자수	410	472	278	323	193
동해	사고건수	24	52	38	62	59
동해	사망자수	1	3	1	5	4
동해	부상자수	41	107	78	147	127
구마	사고건수	31	42	38	30	45
구마	사망자수	4	1	1	4	1
구마	부상자수	74	92	57	43	73
88	사고건수	54	52	29	31	28
88	사망자수	10	11	2	7	3
88	부상자수	122	133	75	51	42
중부	사고건수	205	180	158	188	192
중부	사망자수	20	11	19	10	24
중부	부상자수	490	391	363	403	468
서해	사고건수	288	324	310	309	271
서해	사망자수	25	14	28	23	33
서해	부상자수	767	758	726	850	556
중앙	사고건수	151	207	199	170	192
중앙	사망자수	13	12	21	13	16
중앙	부상자수	330	507	504	429	434
기타	사고건수	1120	1457	1551	1542	1721
기타	사망자수	88	76	97	91	93
기타	부상자수	2456	3349	3193	3268	3526''')

data = pd.read_csv(TESTDATA,sep='\t',encoding='utf-8')
data2 = data[data['기준년도']=='사고건수']
data2.index=range(len(data2))

data2.index = np.array(data2['노선번호'])
data2 = data2.drop('노선번호',1)
data2 = data2.drop('기준년도',1)

print(data2.columns)
print(data2.index)

Index(['2014', '2015', '2016', '2017', '2018'], dtype='object')
Index(['합계', '경부', '경인', '호남', '영동', '남해', '동해', '구마', '88', '중부', '서해', '중앙',
       '기타'],
      dtype='object')

In [48]:
# 통계자료 csv 파일로 저장
data2.to_csv(r'acc_recorded.csv')

In [49]:
# 통계자료 csv 파일 불러오기
acc_another = pd.read_csv('acc_recorded.csv',sep=',')

#설정해놓은 인덱스가 value로 들어가서 손봄
acc_another.index = np.array(acc_another['Unnamed: 0'])
acc_another = acc_another.drop(['Unnamed: 0'],1)

# 인덱스명과 컬럼명을 이용
# 수집한 교통사고 데이터와 교통사고 통계 데이터를 비교해볼것임
a = np.array(acc_another.index)
b = a[1:len(a)-1]
route = b

a =np.array(acc_another.columns)
b = a[1:len(a)]
years = b

   2015 2016 2017 2018
경부  NaN  NaN  NaN  NaN
경인  NaN  NaN  NaN  NaN
호남  NaN  NaN  NaN  NaN
영동  NaN  NaN  NaN  NaN
남해  NaN  NaN  NaN  NaN
동해  NaN  NaN  NaN  NaN
구마  NaN  NaN  NaN  NaN
88  NaN  NaN  NaN  NaN
중부  NaN  NaN  NaN  NaN
서해  NaN  NaN  NaN  NaN
중앙  NaN  NaN  NaN  NaN

In [50]:

# 수집한 교통사고 데이터를 통계낸 후,
# 저장할 빈 데이터프레임 선언

acc_df = pd.DataFrame(columns=years,index=route)

# 데이터 개수를 저장하고 확인할 변수 선언
count_rt = 0     # 노선 분류된 총 건수 저장
count_rt_y = 0   # 노선 분류된 건수 중 연도 분류된 건수 저장
count_2014 = 0   # 2014년과 2019년은 통계데이터와 확인하기 힘듬
count_2019 = 0   # 개수만 셋음 나중에 확인하려고

m_index = []

# 노선별
for rt in route:
    
    # 해당 노선 총 사고
    acc_all_by_rt =  acc_highway[acc_highway['메세지'].str.contains(rt)]
    
    tmp_index = acc_all_by_rt.index.values
    m_index = np.hstack((m_index,tmp_index))
    
    # 해당 노선의 연도별 분류
    for y in years:
        
        tmp = len(acc_all_by_rt[acc_all_by_rt['발생시간'].str.contains(y)])
        acc_df[y][rt] = tmp
        count_rt_y += tmp
    
    count_2014 += len(acc_all_by_rt[acc_all_by_rt['발생시간'].str.contains('2014')])
    count_2019 += len(acc_all_by_rt[acc_all_by_rt['발생시간'].str.contains('2019')])
    
    count_rt += len(acc_all_by_rt)
    #print(w,' : %d개' % len())


print('-----------------')
print('1) 고속도로 키워드로 분류된 사고건수 : ',len(acc_highway))
print('-----------------')
print('(1) 중에서 노선 키워드로 분류된 사고건수 : ',len(m_index),count_rt)
print('(1) 중에서 노선 키워드로 분류되지 않은 사고건수 : ',len(acc_highway)-len(m_index))
print('노선 키워드 오차율 : %.2f%% ' % ((len(acc_highway)-len(m_index))/len(acc_highway)*100))
print('-----------------')

print('2) 노선키워드 분류된 사고 건수 중에서 연도별로 분류된 사고 건수 : ', count_rt_y+count_2014+count_2019)
print('연도별로 분류되지 않은 사고 건수 : ', len(m_index) - count_rt_y-count_2014-count_2019)
print('연도 키워드 오차율 : %.2f%% ' % ((len(m_index) - count_rt_y-count_2014-count_2019)/(count_rt_y+count_2014+count_2019)*100))
print('-----------------')

#acc_df
#acc_highway = acc2[acc2[6].str.contains('고속도로')]

-----------------
1) 고속도로 키워드로 분류된 사고건수 :  31556
-----------------
(1) 중에서 노선 키워드로 분류된 사고건수 :  22056 22056
(1) 중에서 노선 키워드로 분류되지 않은 사고건수 :  9500
노선 키워드 오차율 : 30.11%
-----------------
2) 노선키워드 분류된 사고 건수 중에서 연도별로 분류된 사고 건수 :  22056
연도별로 분류되지 않은 사고 건수 :  0
연도 키워드 오차율 : 0.00%
-----------------

In [51]:
# 기타 고속도로들
acc_no_gita = acc_highway[acc_highway.index.isin(m_index)]
acc_gita = acc_highway[~acc_highway.index.isin(m_index)]

c_gita=len(acc_gita)
c_no_gita=len(acc_no_gita)
c_sum=c_gita+c_no_gita

print('기타 노선사고 건수 : %d'%c_gita)

기타 노선사고 건수 : 9670

In [52]:
data3

NameError: name 'data3' is not defined

In [53]:
acc_df

    2015 2016 2017  2018
경부  1074  959  908  2379
경인   262  131  132   480
호남   106  210   45   110
영동   428  562  322  1039
남해   572  509  102   228
동해    14   26    0     2
구마     1    0    1    55
88    38   33    7     5
중부   328  643  226   767
서해   381  428  294  1028
중앙   276  181   39   148

In [55]:
a = acc_df.index.values
a =a[[0,1,3,4,5,8,9,10]]

In [69]:
highway = []

for msg in acc_highway['메세지']:
    
    msg=msg.upper()
    arr=msg.split()
    for ar in arr:
        if '고속도로' in ar:
            highway.append(ar)
            if '방면' in ar:
                #print(msg)
                #나중에 지워야하는 자료임
                break

hway = []
for i in highway:
    ar = i.split('고속')[0]
    hway.append(ar)
#hway = list(set(hway))

print(len(acc_highway))
print(len(hway))
print(len(highway))

31556
32221
32221

array(['경부', '경인', '영동', '남해', '동해', '중부', '서해', '중앙'], dtype=object)