In [253]:
#df1 = pd.read_csv('acc170715.csv',sep="\t",encoding='CP949')
import pandas as pd
import numpy as np
import csv

def Open_csv(file_name):
     
    df1 = pd.read_csv(file_name, sep="\t", encoding='CP949', error_bad_lines=False, warn_bad_lines=False)
    df1.index = range(len(df1))
    df1.columns=range(1)
    
    df2 = df1[0].str.split(',',n=11,expand=True)
    
    #df2 = pd.read_csv(file_name,sep=',',encoding='CP949',error_bad_lines=False)
    
    return df2

def Go_csv(file_name):
    
    with open(file_name, errors='ignore', newline='') as csvfile: 
    
        datas = list(csv.reader(csvfile)) 
    
    for i in range(len(datas)):

        err=0
        m_err=True
        while(m_err):
            if(len(datas[i]) != 9):
                datas[i][6] = datas[i][6]+datas[i][7]
                del(datas[i][7])
                err = err + 1
            else:
                m_err=False
    
    df = pd.DataFrame(datas)
    
    return df

In [297]:

#디렉토리에 있는 파일명 불러오는 소스

import os

#path = r"C:\Users\정환\Desktop\bigdatafile\team\수집\data"
path = r"Ac_Day_20142019"
folder='Ac_Day_20142019'

df3 = pd.DataFrame()
file_list = os.listdir(path)

# 모든 csv 파일 읽고 한 데이터 프레임에 저장

import time

start = time.time()

# 정상/오류 파일 개수 
count = 0
error_count=0

#진행 상황
m_sum = 0
tmp = -1
m_all = 0



for i in file_list:
    
    strs = folder+'/'+i
    m_stat = os.stat(str)
    m_size=m_stat.st_size
    m_sum+=m_size

m_all = m_sum
m_sum = 0

print(folder,' : %.2fMB' % (m_all/(1024*1024)))

for i in file_list:

    strs = folder+'/'+i
    
    try:
        df3=df3.append(Open_csv(strs))
    except:
        print(strs," 파일에서 에러발생")
        error_count+=1
    
    
    count+=1
        
    m_stat = os.stat(strs)
    m_size=m_stat.st_size
    m_sum+=m_size
    now = int(m_sum/m_all*100)
    if(now>tmp):
        print('%3d%%' % now, end='', flush = True)
    tmp = now

end = time.time()

print('\n소요시간 : %d초' % int(end-start))
print('총 파일 %6d개' % count)
print('총 에러 %6d개' % error_count)
print('총 사고 %6d건' % len(df3[df3[4]=='1']))

#==> 소요시간 : 초
#==> 총 파일 1577개
#==> 총 에러 0개
#==> 총 사고 265882건

#df3.columns=("생성일", "사고ID" , "발생시간", "상태", "분류코드", "분류명", "메세지", "coodX", "coodY")

Ac_Day_20142019  : 112.87MB
  0%  1%  2%  3%  4%  5%Ac_Day_20142019/Ac_Day_20150414.csv  파일에서 에러발생
Ac_Day_20142019/Ac_Day_20150419.csv  파일에서 에러발생
  6%  7%  8%  9% 10%Ac_Day_20142019/Ac_Day_20150624.csv  파일에서 에러발생
Ac_Day_20142019/Ac_Day_20150628.csv  파일에서 에러발생
 11%Ac_Day_20142019/Ac_Day_20150701.csv  파일에서 에러발생
Ac_Day_20142019/Ac_Day_20150704.csv  파일에서 에러발생
Ac_Day_20142019/Ac_Day_20150707.csv  파일에서 에러발생

KeyboardInterrupt:

In [298]:
# 불러온 데이터 프레임 csv 파일로 만듬

import os

# 사고인 것만

#acc=df3[df3[4]=='1']
#acc.to_csv(r'acc_data.csv')

# 전체 다

#df3.to_csv(r'all_data.csv')

strs = 'acc_data.csv'
m_stat = os.stat(strs)
m_size=m_stat.st_size
print('acc_data.csv : %.2f MB' % (m_size/(1024*1024)))

strs = 'all_data.csv'
m_stat = os.stat(strs)
m_size=m_stat.st_size
print('all_data.csv : %.2f MB' % (m_size/(1024*1024)))

acc_data.csv : 54.06 MB
all_data.csv : 127.01 MB

In [222]:
'''
import string
count = 0
for i in pd.date_range("2014-11-1", "2019-6-30", freq="MS"):
    #print(i)
    s = str(i).split('-')
    #print(s[0],'년',s[1],'월')
    count+=1

# m_all : byte
m_all2 = m_all/1024/1024

t = end-start #초
print('위, 데이터 처리 %.2fMB, %d초'%(m_all2,int(t)))


def tt(size):
    rt = size*t/m_all2
    
    print('%d MB : %d 분(%d시간)'%(size,rt/60,rt/3600))

x=2700*3

tt(x)
'''

위, 데이터 처리 104.54MB, 339초
8100 MB : 438 분(7시간)

In [3]:
import pandas as pd

acc2 = pd.read_csv('acc_data.csv',sep=",")
acc2= acc2.set_index('Unnamed: 0')

acc2.columns = range(12)

# NaN 오류방지
acc2[6].loc[acc2[6].isnull()] = ''

#고속도로 키워드로 고속도로 사고만 보기
acc_highway = acc2.loc[acc2[6].str.contains('고속도로')]
acc_highway.index = range(len(acc_highway))
#acc_highway.index = range(len(acc_highway[0]))

print('총 사고 건수 : %d개' % len(acc2))
print('총 고속도로 사고 건수 : %d개' % len(acc_highway[0]))

acc2

c:\programdata\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
c:\programdata\miniconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

총 사고 건수 : 265882개
총 고속도로 사고 건수 : 31556개

,0,1,2,3,4,5,6,7,8,9,10,11
Unnamed: 0,,,,,,,,,,,,
0,2014-12-01 06:53:01,21304,2014-12-01 06:40:02,2014-12-01 07:10:00,1,사고,원종로 성곡삼거리에서 성곡사거리방향,성곡삼거리 150m 정도 지난 지점 2차로 버스가 고장으로 세워져 있음 후미지체 -,126.803909092613,37.5162515391543,NaN,NaN
1,2014-12-01 06:55:31,21306,2014-12-01 06:49:02,2014-12-01 07:19:00,1,사고,경인고속도로 부천-신월 3차로 추돌사고 지체 -,126.826106822352,37.5225191751392,NaN,NaN,NaN
2,2014-12-01 06:56:01,21308,2014-12-01 06:50:02,2014-12-01 07:20:00,1,사고,경인고속도로 서인천-가좌 추돌사고 지체 -,126.675731372779,37.5068873058972,NaN,NaN,NaN
3,2014-12-01 06:56:40,21347,2014-12-01 06:51:02,2014-12-01 07:21:00,1,사고,영동고속도로 서창분기점 강릉방향 3차로 사고 지체 -,126.736762772379,37.4275702759106,NaN,NaN,NaN
5,2014-12-01 06:57:31,21349,2014-12-01 06:50:02,2014-12-01 07:20:00,1,사고,제2경인고속도로 문학-남동 1차로 추돌사고 지체 -,126.685986373565,37.4318673990613,NaN,NaN,NaN
7,2014-12-01 07:12:31,21466,2014-12-01 07:11:02,2014-12-01 07:41:00,1,사고,서울외곽순환고속도로 산본 - 평촌방향 1차로 승용차관련 사고처리중 후미지체 -,126.941595064846,37.3788016855273,NaN,NaN,NaN
9,2014-12-01 07:20:01,21507,2014-12-01 07:17:02,2014-12-01 07:47:00,1,사고,한밭대로 중리4가→오정4가 오정철교 시작지점 1차로에서 승용차간 추돌사고 -,127.417258238149,36.3588701800353,NaN,NaN,NaN
10,2014-12-01 07:20:31,21508,2014-12-01 07:18:02,2014-12-01 07:48:00,1,사고,달구벌대로 이곡역네거리에서 용산네거리방향 중간지점 1차로 승합차 고장으로 정차중....,128.520042580765,35.8504636217998,NaN,NaN,NaN
11,2014-12-01 07:22:01,21547,2014-12-01 07:19:02,2014-12-01 07:49:00,1,사고,오목로 오목교방향 오목교역교차로內 추돌사고 주의운행 지체 -,126.875771721608,37.5243624825783,NaN,NaN,NaN
12,2014-12-01 07:22:31,21548,2014-12-01 07:19:02,2014-12-01 07:49:00,1,사고,상화로 진천남네거리에서 수목원삼거리방향 중간 지점 2,3차로 걸쳐 승용차 관련 추돌사고. 뒤로 지체 -,128.524186284826,35.8079981917238,NaN,NaN
13,2014-12-01 07:28:01,21589,2014-12-01 07:26:02,2014-12-01 07:56:00,1,사고,남해제2고속도로 감전ic에서 서부산 18.5km 1차로 승용차고장 후방 지,정체 -,128.957173214158,35.1551551257213,NaN,NaN
14,2014-12-01 07:28:31,21590,2014-12-01 07:24:02,2014-12-01 07:54:00,1,사고,천호대로 신답역방향 답십리삼거리에서 답십리역 하위차로 추돌사고 주위운행 지체 -,127.054471621602,37.5655998934207,NaN,NaN,NaN
17,2014-12-01 07:31:01,21595,2014-12-01 07:27:02,2014-12-01 07:57:00,1,사고,도곡동길 탄천2교방향 강남세브란스병원쇼차로 內 오토바이관련 추돌사고 주의운행 지체 -,127.04703572907,37.4941511778708,NaN,NaN,NaN
20,2014-12-01 07:33:01,21637,2014-12-01 07:29:02,2014-12-01 07:59:00,1,사고,창경궁로 원남동사거리방향 혜화동로터리에서 성균관대입구 2차로 승용차관련 추돌사고 ...,127.000330562935,37.584689718786,NaN,NaN,NaN
23,2014-12-01 07:50:01,21758,2014-12-01 07:30:02,2014-12-01 07:45:00,1,사고,중앙로 화곡터널방향 신정네거리역 교차로상 화물차관련 추돌사고 후미지체 -,126.85243394804,37.5211883423987,NaN,NaN,NaN
26,2014-12-01 08:02:01,21887,2014-12-01 07:59:02,2014-12-01 08:29:00,1,사고,올림픽대로 공항방향 서울교에서 여의2교 4차로 승용차 고장차량 주의운행 지체 -,126.914639759395,37.5216036531704,NaN,NaN,NaN
28,2014-12-01 08:21:01,22017,2014-12-01 08:16:02,2014-12-01 08:46:00,1,사고,아암로 낙섬사거리에서 능안삼거리방향 고속종점지하차도 진입하자마자 2차로에서 승용차...,126.634743892767,37.4556421497438,NaN,NaN,NaN
29,2014-12-01 08:28:01,22100,2014-12-01 08:25:02,2014-12-01 08:55:00,1,사고,천안논산고속도로 논산방향 1차로 철판(대형) 1km지정체 예상 후속사고 예방,127.114251502719,36.577008042532,NaN,NaN,NaN
32,2014-12-01 08:30:01,22103,2014-12-01 08:28:02,2014-12-01 08:58:00,1,사고,신천대로 서대구나들목방향 대봉교지하차도 지나자마자 2차로 승용차 관련 추돌사고 뒤로...,128.606917722955,35.8566253535214,NaN,NaN,NaN
33,2014-12-01 08:34:01,22143,2014-12-01 08:31:02,2014-12-01 09:01:00,1,사고,언주로 내곡IC방향 구룡터널內 하위차로 승용차관련 추돌사고 주의운행 정체 -,127.059448082196,37.475139961284,NaN,NaN,NaN
34,2014-12-01 08:41:01,22184,2014-12-01 08:38:02,2014-12-01 09:08:00,1,사고,올림픽대로 공항방향 여의2교 여의하류 하위차로 추돌사고 주의운행 지체 -,126.91046667471,37.5291617544338,NaN,NaN,NaN
37,2014-12-01 08:44:01,22229,2014-12-01 08:40:02,2014-12-01 09:10:00,1,사고,서초로 서초역방향 교대역에서 서초역 1차로 화물차관련 3중추돌사고 주의운행 지체 -,127.007893195586,37.491958721163,NaN,NaN,NaN
41,2014-12-01 08:47:01,22277,2014-12-01 08:42:02,2014-12-01 09:12:00,1,사고,남부순환로 서부트럭터미널에서 개봉1동사거리 2차로 승용차관련 추돌사고 주의운행 ...,126.843159706953,37.5083358774587,NaN,NaN,NaN
45,2014-12-01 08:49:01,22281,2014-12-01 08:46:02,2014-12-01 09:16:00,1,사고,화랑로 강촌마을에서 효목네거리방향 망우당고가차도 합류지점 4,5차로 걸쳐 승용차 관련 추돌사고. 뒤로 지체,128.653024834011,35.8773227367377,NaN,NaN
47,2014-12-01 08:55:01,22328,2014-12-01 08:49:02,2014-12-01 09:19:00,1,사고,서울외곽순환고속도로 판교방향,시흥요금소 2차로 승용차 단독사고 후미지체 -,126.803659728236,37.4504219345875,NaN,NaN
48,2014-12-01 09:06:01,22410,2014-12-01 09:03:02,2014-12-01 09:25:00,1,사고,광적로 덕도삼거리->가납사거리방향 2차로(덕도IC)앞 눈길 교통사고 주의운전 -,126.959090727732,37.8539604881309,NaN,NaN,NaN
50,2014-12-01 09:07:01,22451,2014-12-01 09:01:02,2014-12-01 09:31:00,1,사고,경인고속도로 인천방향,부천나들목 300m 정도 못 간 지점 4차로 택시관련 3중 추돌사고 후미지체 -,126.78320495541,37.5239169545305,NaN,NaN
51,2014-12-01 09:08:01,22453,2014-12-01 09:06:02,2014-12-01 09:36:00,1,사고,보문로 돈암동방향 성북구청앞->성북경찰서 하위차로 승용차관련 추돌사고 후미지체 -,127.016402165708,37.5891233056816,NaN,NaN,NaN
53,2014-12-01 09:09:01,22456,2014-12-01 09:07:02,2014-12-01 09:37:00,1,사고,경춘북로 별내방향 신내IC->중랑경찰서앞 하위차로 승용차-화물차간 추돌사고 후미지체 -,127.103886647741,37.6187409771609,NaN,NaN,NaN
57,2014-12-01 09:21:01,22540,2014-12-01 09:19:02,2014-12-01 09:49:00,1,사고,신길로 대림동방향 사러가쇼핑앞->신풍역 하위차로 승용차관련 추돌사고 후미지체 -,126.910190958393,37.5028495071454,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
377,2019-07-17 17:55:30,958,2019-07-17 17:49:02,2019-07-17 18:19:00,1,사고,강변북로 가양대교 난지IC 1차로 주의운전 교통사고 서울청,126.877259773968,37.5680777829355,NaN,NaN,NaN
379,2019-07-17 18:05:30,1088,2019-07-17 17:53:02,2019-07-17 18:23:00,1,사고,서울양양고속도로 강촌IC 설악IC 1차로 차량사고 주의운전 -,127.5702,37.7187,NaN,NaN,NaN
381,2019-07-17 18:10:30,1154,2019-07-17 18:07:02,2019-07-17 18:37:00,1,사고,천주로 의창사거리 의창주유소 1차로 주의운전 차량고장 -,128.6184149,35.2619958,NaN,NaN,NaN
382,2019-07-17 18:11:00,1160,2019-07-17 18:01:02,2019-07-17 18:31:00,1,사고,서울외곽순환고속도로 의정부IC 별내IC 4차로 차량고장 주의운전 -,127.0619,37.6897,NaN,NaN,NaN
383,2019-07-17 18:11:30,1183,2019-07-17 18:04:02,2019-07-17 18:34:00,1,사고,서울춘천고속도로 강촌IC서측본선 청평IC북측본선 1차로 통제 중 주의운전 교통사고 -,127.619478013299,37.7326280947738,NaN,NaN,NaN
385,2019-07-17 18:15:30,1220,2019-07-17 18:01:02,2019-07-17 18:31:00,1,사고,서울외곽순환고속도로 송추IC 의정부IC 4차로 차량사고 주의운전 -,127.0175,37.7189,NaN,NaN,NaN
386,2019-07-17 18:20:30,1288,2019-07-17 17:35:02,2019-07-17 18:05:00,1,사고,강변북로 동작대교 반포대교 2차로 차량사고 주의운전 -,126.98888366,37.516574601175,NaN,NaN,NaN
388,2019-07-17 18:25:31,1358,2019-07-17 18:18:02,2019-07-17 18:48:00,1,사고,서울외곽순환고속도로 의정부IC 호원IC 4차로 통제 중 주의운전 교통사고 -,127.044173199073,37.7017764881143,NaN,NaN,NaN
389,2019-07-17 18:30:30,1429,2019-07-17 18:20:02,2019-07-17 18:50:00,1,사고,중부고속도로 광주IC 곤지암IC 2차로 차량고장 주의운전 -,127.3023,37.4144,NaN,NaN,NaN
391,2019-07-17 18:35:30,1492,2019-07-17 18:28:02,2019-07-17 18:58:00,1,사고,중부고속도로 광주IC동측본선 경기광주JC 2차로 통제 중 주의운전 고장 차량 -,127.27466213046,37.4463849924703,NaN,NaN,NaN
392,2019-07-17 18:40:30,1556,2019-07-17 18:32:02,2019-07-17 19:02:00,1,사고,경부고속도로 동탄JC 오산IC 5차로 차량사고 주의운전 -,127.0844,37.1508,NaN,NaN,NaN
393,2019-07-17 18:50:30,1691,2019-07-17 18:47:02,2019-07-17 19:17:00,1,사고,올림픽대로 여의하류IC 양화대교 4차로 지체 교통사고 서울청,126.905983406194,37.535704267867,NaN,NaN,NaN
394,2019-07-17 18:51:00,1697,2019-07-17 18:44:02,2019-07-17 19:14:00,1,사고,경부고속도로 동탄JC남측경부선 오산IC북측본선 5차로 통제 중 주의운전 교통사고 -,127.085797258366,37.1542867043307,NaN,NaN,NaN
397,2019-07-17 19:40:31,2358,2019-07-17 19:38:02,2019-07-17 20:08:00,1,사고,반포대로 반포대교남단 강남터미널고가차도 1차로 주의운전 교통사고 서울청,126.999293108775,37.5086012349881,NaN,NaN,NaN
399,2019-07-17 19:41:30,2388,2019-07-17 19:34:02,2019-07-17 20:04:00,1,사고,올림픽대로 한강대교 동작대교 4차로 주의운전 고장 차량 서울청,126.968953510191,37.5081849474144,NaN,NaN,NaN
401,2019-07-17 19:45:31,2433,2019-07-17 19:42:02,2019-07-17 20:12:00,1,사고,강변북로 성수대교 영동대교 3차로 주의운전 고장 차량 서울청,127.05309214478,37.5350720270802,NaN,NaN,NaN
404,2019-07-17 19:55:31,2567,2019-07-17 19:49:02,2019-07-17 20:19:00,1,사고,중앙고속도로 하행선 가산IC 가산IC 1차로 130km(방향) 중앙선 하행선에서 가...,추돌사고 방지를 위한 후방관리,운전자 감속 운전 차량고장 -,128.5341864,36.0938,NaN
406,2019-07-17 20:15:30,2830,2019-07-17 20:12:02,2019-07-17 20:42:00,1,사고,올림픽대로 동작대교 한강대교 5차로 주의운전 교통사고 서울청,126.962663444344,37.5113907030268,NaN,NaN,NaN
407,2019-07-17 20:16:00,2834,2019-07-17 20:08:02,2019-07-17 20:38:00,1,사고,내부순환로 국민대 정릉터널 3차로 주의운전 고장 차량 서울청,126.995673626537,37.609920529835,NaN,NaN,NaN
409,2019-07-17 20:30:31,3036,2019-07-17 20:26:02,2019-07-17 20:56:00,1,사고,상주영천고속도로 동영천IC영천방면 영천TG 1차로 0km(방향) 역방향 정차 교통사고 -,128.9972903,35.9673897,NaN,NaN,NaN
411,2019-07-17 20:45:30,3235,2019-07-17 20:40:02,2019-07-17 21:10:00,1,사고,동부간선도로 노원교 상계교 1차로 주의운전 교통사고 서울청,127.05008660051,37.6678027582059,NaN,NaN,NaN
414,2019-07-17 20:50:31,3306,2019-07-17 20:48:02,2019-07-17 21:18:00,1,사고,구일로 구로1동파출소앞 안양교 2차로 지체 교통사고 -,126.875544133383,37.4902385006626,NaN,NaN,NaN
419,2019-07-17 21:00:31,3443,2019-07-17 20:58:02,2019-07-17 21:28:00,1,사고,봉은사로 선정릉역사거리 삼성중앙역 3차로 주의운전 교통사고 서울청,127.044235444118,37.5103296407323,NaN,NaN,NaN
432,2019-07-17 21:15:30,194,2019-07-17 21:08:02,2019-07-17 21:38:00,1,사고,영동고속도로 마성IC 용인IC 3,4차로 장애물 주의운전 -,127.1952,37.2636,NaN,NaN
435,2019-07-17 21:18:30,20190717211830,2019-07-17 21:18:30,NaN,1,사고,[경부선]비룡분기점(267.8K) (진출로 갓길) 화물차 고장처리중 고장,127.4892,36.3463,NaN,NaN,NaN
438,2019-07-17 21:20:30,32,2019-07-17 21:16:02,2019-07-17 21:46:00,1,사고,서울외곽순환고속도로 장수IC 송내IC 1차로 차량사고 주의운전 -,126.7543,37.4744,NaN,NaN,NaN
443,2019-07-17 21:30:31,169,2019-07-17 21:24:02,2019-07-17 21:54:00,1,사고,경부고속도로 동탄JC 오산IC 5차로 차량고장 주의운전 -,127.0882,37.1593,NaN,NaN,NaN
452,2019-07-17 22:20:42,20190717221500,2019-07-17 22:20:42,NaN,1,사고,[논산천안선]정안IC(258K) (갓길)화물차 고장 처리중 고장,127.1808,36.7696,NaN,NaN,NaN
454,2019-07-17 23:45:31,1669,2019-07-17 23:39:02,2019-07-18 00:09:00,1,사고,서울외곽순환고속도로 김포IC 김포T/G 5차로 차량사고 주의운전 -,126.7779,37.5987,NaN,NaN,NaN
455,2019-07-17 23:47:37,20190717234737,2019-07-17 23:47:37,NaN,1,사고,[서해안선]부안(110.6K) (갓길) 고장차 처리중 고장,126.767,35.724,NaN,NaN,NaN

In [296]:
import csv

with open('acc_highway.csv',encoding='utf-8',newline='') as csvfile: 
    data = list(csv.reader(csvfile))

print(data[1][7])
#df.head(1)
print(len(data))

for i in range(0,len(data)):
    
    blnk=0
 
    for j in data[i][9:13]:
        if j =='':
            blnk+=1
   
    m_fix =3-blnk
    idx = 7
    
    for j in range(m_fix):
        j+=1
        data[i][idx]+=data[i][idx+j]
    idx+=1
    data[i][idx] = data[i][idx+m_fix]
    idx+=1
    data[i][idx] = data[i][idx+m_fix]
    
    for j in range(12,9,-1):
        del data[i][j]
        

df = pd.DataFrame(data[1:])
# index, 생성일 , 사고ID , ####, 상태 , 분류코드, 분류명 제거
m_drop=[0,1,2,4,5,6]
df=df.drop(m_drop,axis=1)

df.index=range(len(df))
df.columns=['발생시간','메세지','경도','위도']
df[df['경도'] ]

#df.columns=["생성일", "사고ID" , "발생시간", "상태", "분류코드", "분류명", "메세지", "coodX", "coodY"]
#

경인고속도로 부천-신월 3차로 추돌사고 지체 -
31557

,발생시간,메세지,경도,위도
0,2014-12-01 06:49:02,경인고속도로 부천-신월 3차로 추돌사고 지체 -,126.826106822352,37.5225191751392
1,2014-12-01 06:50:02,경인고속도로 서인천-가좌 추돌사고 지체 -,126.675731372779,37.5068873058972
2,2014-12-01 06:51:02,영동고속도로 서창분기점 강릉방향 3차로 사고 지체 -,126.736762772379,37.4275702759106
3,2014-12-01 06:50:02,제2경인고속도로 문학-남동 1차로 추돌사고 지체 -,126.685986373565,37.4318673990613
4,2014-12-01 07:11:02,서울외곽순환고속도로 산본 - 평촌방향 1차로 승용차관련 사고처리중 후미지체 -,126.941595064846,37.3788016855273

In [315]:
import os 

df.to_csv(r'acc_highway2.csv')
m_str = 'acc_highway2.csv'
m_stat = os.stat(m_str)
m_size=m_stat.st_size
print('acc_highway2.csv : %.2f MB' % (m_size/(1024*1024)))

acc_highway2.csv : 4.81 MB

In [329]:
######################################
######################################
######################################
######################################
######################################
######################################
######################################
######################################

In [1]:
###################

#여기서부터 시작

###################

import pandas as pd

acc_highway = pd.read_csv('acc_highway2.csv',sep=",")

acc_highway= acc_highway.set_index('Unnamed: 0')

#acc_highway.head(10)
print(len(acc_highway))

31556

In [2]:
acc_highway.head(5)

,발생시간,메세지,경도,위도
Unnamed: 0,,,,
0,2014-12-01 06:49:02,경인고속도로 부천-신월 3차로 추돌사고 지체 -,126.826106822352,37.5225191751392
1,2014-12-01 06:50:02,경인고속도로 서인천-가좌 추돌사고 지체 -,126.675731372779,37.5068873058972
2,2014-12-01 06:51:02,영동고속도로 서창분기점 강릉방향 3차로 사고 지체 -,126.736762772379,37.4275702759106
3,2014-12-01 06:50:02,제2경인고속도로 문학-남동 1차로 추돌사고 지체 -,126.685986373565,37.4318673990613
4,2014-12-01 07:11:02,서울외곽순환고속도로 산본 - 평촌방향 1차로 승용차관련 사고처리중 후미지체 -,126.941595064846,37.3788016855273

In [326]:
acc_highway['경도']=pd.to_numeric(acc_highway['경도'],errors='coerce')
acc_highway['위도']=pd.to_numeric(acc_highway['위도'],errors='coerce')
count=0
for i in acc_highway:
    for j in i:

4

In [314]:
# 연도별 사고 건수
sums = 0
for i in range(2014,2020):
    tmp = len(acc_highway[acc_highway['발생시간'].str.contains('%d-' % i)])
    print('%4d년 :%5d건' % (i, tmp))
    sums += tmp

print('연도별 총 사고 건수 : %d건' % sums)

2014년 :  436건
2015년 : 4574건
2016년 : 4913건
2017년 : 2901건
2018년 : 9351건
2019년 : 9381건
연도별 총 사고 건수 : 31556건

In [312]:
# 외부 통계자료와 비교

import io

TESTDATA = io.StringIO('''노선번호	기준년도	2014	2015	2016	2017	2018
합계	사고건수	3583	4495	4347	4146	4079
합계	사망자수	273	241	273	248	252
합계	부상자수	8578	11014	10318	9778	8913
경부	사고건수	891	1074	1069	911	873
경부	사망자수	51	58	53	37	41
경부	부상자수	2418	3002	2951	2606	2164
경인	사고건수	87	84	109	129	89
경인	사망자수	6	3	5	2	2
경인	부상자수	158	178	207	235	188
호남	사고건수	186	252	185	201	141
호남	사망자수	27	20	14	23	10
호남	부상자수	428	632	456	466	329
영동	사고건수	362	558	512	423	362
영동	사망자수	13	17	15	24	16
영동	부상자수	884	1393	1430	957	813
남해	사고건수	184	213	149	150	106
남해	사망자수	15	15	17	9	9
남해	부상자수	410	472	278	323	193
동해	사고건수	24	52	38	62	59
동해	사망자수	1	3	1	5	4
동해	부상자수	41	107	78	147	127
구마	사고건수	31	42	38	30	45
구마	사망자수	4	1	1	4	1
구마	부상자수	74	92	57	43	73
88	사고건수	54	52	29	31	28
88	사망자수	10	11	2	7	3
88	부상자수	122	133	75	51	42
중부	사고건수	205	180	158	188	192
중부	사망자수	20	11	19	10	24
중부	부상자수	490	391	363	403	468
서해	사고건수	288	324	310	309	271
서해	사망자수	25	14	28	23	33
서해	부상자수	767	758	726	850	556
중앙	사고건수	151	207	199	170	192
중앙	사망자수	13	12	21	13	16
중앙	부상자수	330	507	504	429	434
기타	사고건수	1120	1457	1551	1542	1721
기타	사망자수	88	76	97	91	93
기타	부상자수	2456	3349	3193	3268	3526''')

data = pd.read_csv(TESTDATA,sep='\t',encoding='utf-8')
data2 = data[data['기준년도']=='사고건수']
data2.index=range(len(data2))

data2.index = np.array(data2['노선번호'])
data2 = data2.drop('노선번호',1)
data2 = data2.drop('기준년도',1)

print(data2.columns)
print(data2.index)

Index(['2014', '2015', '2016', '2017', '2018'], dtype='object')
Index(['합계', '경부', '경인', '호남', '영동', '남해', '동해', '구마', '88', '중부', '서해', '중앙',
       '기타'],
      dtype='object')

In [69]:
# 통계자료 csv 파일로 저장
data2.to_csv(r'acc_recorded.csv')

In [320]:
# 통계자료 csv 파일 불러오기
acc_another = pd.read_csv('acc_recorded.csv',sep=',')

#설정해놓은 인덱스가 value로 들어가서 손봄
acc_another.index = np.array(acc_another['Unnamed: 0'])
acc_another = acc_another.drop(['Unnamed: 0'],1)

# 인덱스명과 컬럼명을 이용
# 수집한 교통사고 데이터와 교통사고 통계 데이터를 비교해볼것임
a = np.array(acc_another.index)
b = a[1:len(a)-1]
route = b

a =np.array(acc_another.columns)
b = a[1:len(a)]
years = b

   2015 2016 2017 2018
경부  NaN  NaN  NaN  NaN
경인  NaN  NaN  NaN  NaN
호남  NaN  NaN  NaN  NaN
영동  NaN  NaN  NaN  NaN
남해  NaN  NaN  NaN  NaN
동해  NaN  NaN  NaN  NaN
구마  NaN  NaN  NaN  NaN
88  NaN  NaN  NaN  NaN
중부  NaN  NaN  NaN  NaN
서해  NaN  NaN  NaN  NaN
중앙  NaN  NaN  NaN  NaN

In [322]:

# 수집한 교통사고 데이터를 통계낸 후,
# 저장할 빈 데이터프레임 선언

acc_df = pd.DataFrame(columns=years,index=route)

# 데이터 개수를 저장하고 확인할 변수 선언
count_rt = 0     # 노선 분류된 총 건수 저장
count_rt_y = 0   # 노선 분류된 건수 중 연도 분류된 건수 저장
count_2014 = 0   # 2014년과 2019년은 통계데이터와 확인하기 힘듬
count_2019 = 0   # 개수만 셋음 나중에 확인하려고

m_index = []

# 노선별
for rt in route:
    
    # 해당 노선 총 사고
    acc_all_by_rt =  acc_highway[acc_highway['메세지'].str.contains(rt)]
    
    tmp_index = acc_all_by_rt.index.values
    m_index = np.hstack((m_index,tmp_index))
    
    # 해당 노선의 연도별 분류
    for y in years:
        
        tmp = len(acc_all_by_rt[acc_all_by_rt['발생시간'].str.contains(y)])
        acc_df[y][rt] = tmp
        count_rt_y += tmp
    
    count_2014 += len(acc_all_by_rt[acc_all_by_rt['발생시간'].str.contains('2014')])
    count_2019 += len(acc_all_by_rt[acc_all_by_rt['발생시간'].str.contains('2019')])
    
    count_rt += len(acc_all_by_rt)
    #print(w,' : %d개' % len())


print('-----------------')
print('1) 고속도로 키워드로 분류된 사고건수 : ',len(acc_highway))
print('-----------------')
print('(1) 중에서 노선 키워드로 분류된 사고건수 : ',len(m_index),count_rt)
print('(1) 중에서 노선 키워드로 분류되지 않은 사고건수 : ',len(acc_highway)-len(m_index))
print('노선 키워드 오차율 : %.2f%% ' % ((len(acc_highway)-len(m_index))/len(acc_highway)*100))
print('-----------------')

print('2) 노선키워드 분류된 사고 건수 중에서 연도별로 분류된 사고 건수 : ', count_rt_y+count_2014+count_2019)
print('연도별로 분류되지 않은 사고 건수 : ', len(m_index) - count_rt_y-count_2014-count_2019)
print('연도 키워드 오차율 : %.2f%% ' % ((len(m_index) - count_rt_y-count_2014-count_2019)/(count_rt_y+count_2014+count_2019)*100))
print('-----------------')

#acc_df
#acc_highway = acc2[acc2[6].str.contains('고속도로')]

-----------------
1) 고속도로 키워드로 분류된 사고건수 :  31556
-----------------
(1) 중에서 노선 키워드로 분류된 사고건수 :  22056 22056
(1) 중에서 노선 키워드로 분류되지 않은 사고건수 :  9500
노선 키워드 오차율 : 30.11%
-----------------
2) 노선키워드 분류된 사고 건수 중에서 연도별로 분류된 사고 건수 :  22056
연도별로 분류되지 않은 사고 건수 :  0
연도 키워드 오차율 : 0.00%
-----------------

In [324]:
# 기타 고속도로들
acc_no_gita = acc_highway[acc_highway.index.isin(m_index)]
acc_gita = acc_highway[~acc_highway.index.isin(m_index)]

c_gita=len(acc_gita)
c_no_gita=len(acc_no_gita)
c_sum=c_gita+c_no_gita

print('기타 노선사고 건수 : %d'%c_gita)

기타 노선사고 건수 : 9670

In [257]:
'''
m_index = []
b= []
a = acc_highway[acc_highway[6].str.contains(rt)]
b = a.index.values
print(b.shape)
c = a.index.values
b = np.hstack((b,c))
print(b.shape)
acc_highway.loc[b]
'''
h_index = acc_highway.index.values
len(m_index)
m_index = list(map(int,m_index))
sorted(m_index)
m_index = np.array(m_index)


#for i in m_index:
#    tmp = acc_highway.iloc(i)

print('m_index : ',len(m_index))
print('전체-m_index : ',len(acc_highway)-len(m_index))


#for i in m_index:
#    a=a.drop(i)

#print(len(m_index))
#acc_highway
#len(acc_highway[acc_highway.index.isin(m_index)])

###################################

####################################
#~acc_highway.index.isin(m_index)
#a.zeros[acc_highway.index.isin(m_index)]
#a=acc_highway

# 얘가 분류된 애인데
# 얘로 분류되지 않은 애를 조회하고싶음

#iloc 이 인덱스로 뭘하는애 같은데

# range()에서 m_index를 제거하면 될거같은데 


#a = acc_highway.loc[m_index]
#b = a[6]

#a= np.array(range(len(acc_highway)))
#a.remove(0)
#b = a[not in m_index]
#m_index
#acc_highway.iloc[c]
#m_index+=a.index.values

m_index :  22041
전체-m_index :  9515
기타 개수 : 9673
기타 아닌 개수 : 21883
기타 개수 + 아닌 개수 : 31556
맞아? True
Int64Index([    4,     6,     7,    11,    14,    15,    22,    23,    24,
               26,
            ...
            31535, 31538, 31541, 31542, 31543, 31544, 31545, 31551, 31553,
            31555],
           dtype='int64', length=9673)
[    9    13    16 ... 31508 31539 31550]
RangeIndex(start=0, stop=31556, step=1)

In [125]:
print("hi")

hi

In [1]:

'''
    # 숫자로 변환 변환안되는건 NaN 처리
    for i in range(7,11):
        df2[i]=pd.to_numeric(df2[i],errors='coerce')

    # 두 자리 밀려있는 데이터 처리
    tmp1 = df2[9][df2[10].notnull()]
    tmp2 = df2[10][df2[10].notnull()]
    df2[7][df2[10].notnull()] = tmp1.copy()
    df2[8][df2[10].notnull()] = tmp2.copy()

    # 한 자리 밀려있는 데이터 처리
    tmp1 = df2[8][df2[7].isnull()]
    tmp2 = df2[9][df2[7].isnull()]
    df2[7][df2[7].isnull()] = tmp1.copy()
    df2[8][df2[7].isnull()] = tmp2.copy()

    # 남은 열 처리
    df2=df2.drop(range(9,11),1)
'''

"\n    # 숫자로 변환 변환안되는건 NaN 처리\n    for i in range(7,11):\n        df2[i]=pd.to_numeric(df2[i],errors='coerce')\n\n    # 두 자리 밀려있는 데이터 처리\n    tmp1 = df2[9][df2[10].notnull()]\n    tmp2 = df2[10][df2[10].notnull()]\n    df2[7][df2[10].notnull()] = tmp1.copy()\n    df2[8][df2[10].notnull()] = tmp2.copy()\n\n    # 한 자리 밀려있는 데이터 처리\n    tmp1 = df2[8][df2[7].isnull()]\n    tmp2 = df2[9][df2[7].isnull()]\n    df2[7][df2[7].isnull()] = tmp1.copy()\n    df2[8][df2[7].isnull()] = tmp2.copy()\n\n    # 남은 열 처리\n    df2=df2.drop(range(9,11),1)\n"

In [145]:
data3

    2014  2015  2016  2017  2018
합계  3583  4495  4347  4146  4079
경부   891  1074  1069   911   873
경인    87    84   109   129    89
호남   186   252   185   201   141
영동   362   558   512   423   362
남해   184   213   149   150   106
동해    24    52    38    62    59
구마    31    42    38    30    45
88    54    52    29    31    28
중부   205   180   158   188   192
서해   288   324   310   309   271
중앙   151   207   199   170   192
기타  1120  1457  1551  1542  1721

In [146]:
acc_df

    2015 2016 2017  2018
경부  1074  958  908  2379
경인   262  131  132   480
호남   106  210   45   110
영동   428  562  322  1039
남해   571  509  102   228
동해    14   26    0     2
구마     1    0    1    55
88    38   32    7     5
중부   328  643  226   767
서해   381  428  294  1028
중앙   270  179   37   148