In [1]:
import pandas as pd
import numpy as np
import time
import shapefile

In [5]:
df1 = pd.read_csv('node190813.csv',sep=",",encoding='CP949')
df1.head(5)

,NODE_ID,NODE_TYPE,NODE_NAME,TURN_P,REMARK,USER_ID,WORKSTATE,DEPT_CODE,STNL_REG,TMPID,UPLOAD_ID
0,3330017400,101,고읍교차로,0,NaN,korea,5,NaN,333,OEXT3330017400,NaN
1,3330016500,104,벌교터널,0,NaN,korea,5,NaN,333,OEXT3330016500,NaN
2,3330015600,104,벌교터널,0,NaN,korea,5,NaN,333,OEXT3330015600,NaN
3,3330014900,101,벌교교차로,0,NaN,korea,5,NaN,333,OEXT3330014900,NaN
4,3330014600,101,벌교교차로,0,NaN,korea,5,NaN,333,OEXT3330014600,NaN

In [2]:
 def Read_shf(filename)
    #filename="../datas/node/MOCT_NODE.shp"
    sf = shapefile.Reader(filename,encoding="CP949")

    records = sf.records()

    print(len(records))

    cols = []
    for field in sf.fields[1:]:
        cols.append(field[0])

    df2 = pd.DataFrame(records,columns=cols)

    df2=df2.drop(cols[3:12],1)

    df2.head(3)

120700

      NODE_ID NODE_TYPE NODE_NAME           x           y
0  3330017400       101     고읍교차로  229757.357  251792.791
1  3330016500       104      벌교터널  229535.218  250194.520
2  3330015600       104      벌교터널  229465.270  249416.523

In [30]:
print(cols[3:12])

['TURN_P', 'REMARK', 'USER_ID', 'WORKSTATE', 'DEPT_CODE', 'STNL_REG', 'TMPID', 'UPLOAD_ID', 'x좌표']

In [1]:
pip install pyshp

Collecting pyshp
  Downloading https://files.pythonhosted.org/packages/27/16/3bf15aa864fb77845fab8007eda22c2bd67bd6c1fd13496df452c8c43621/pyshp-2.1.0.tar.gz (215kB)
Building wheels for collected packages: pyshp
  Building wheel for pyshp (setup.py): started
  Building wheel for pyshp (setup.py): finished with status 'done'
  Created wheel for pyshp: filename=pyshp-2.1.0-cp37-none-any.whl size=32613 sha256=7a7d0dbe4d961656cd9fe28405c2bdac54d39f3a5f28744269fb78760b35d176
  Stored in directory: C:\Users\njh\AppData\Local\pip\Cache\wheels\a6\0c\de\321b5192ad416b328975a2f0385f72c64db4656501eba7cc1a
Successfully built pyshp
Installing collected packages: pyshp
Successfully installed pyshp-2.1.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 19.2.1, however version 19.2.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.