In [97]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine


pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine('mysql+mysqldb://mjupo:dkzkcmzl1!@192.168.25.208/jupodb',encoding='utf-8')
conn = engine.connect()

In [3]:
df_acc = pd.read_sql_table('df_acc',conn)
df_acc = df_acc.set_index("index")
df_acc.head(1)

,발생시간,메세지,경도,위도,고속도로,콘존ID,방향
index,,,,,,,
0,2014-12-01 06:49:02,경인고속도로 부천-신월 3차로 추돌사고 지체 -,126.826106822352,37.5225191751392,경인고속도로,"['0552CZS100', '0600CZE080', 0.501085415819419...",0

In [50]:
df_acc = df_acc[df_acc['고속도로']=='경부고속도로']
#tmp = df_acc[df_acc['발생시간']<='2015-01-02']

In [55]:
df_acc = df_acc[df_acc['발생시간']>='2017-01-01']
df_acc = df_acc[df_acc['발생시간']<'2017-02-01']
print(len(df_acc))
#df_acc
#상행콘존 #하행콘존 #상행콘존교통량 #상행콘존통행속도 #하행콘존교통량 #하행콘톤통행속도 #느린통행속도 #통행량평균 #통행량합

98

In [56]:
df_acc.head(1)

,발생시간,메세지,경도,위도,고속도로,콘존ID,방향
index,,,,,,,
8167,2017-01-01 15:02:02,경부고속도로 안성IC남측(본선) 북천안IC 2차로 장애물 처리 중 주의운전 적재물 ...,127.155466583854,36.9904016536474,경부고속도로,"['0010CZS470', '0010CZE470', 26.99226886425865...",0

In [57]:
df_acc = df_acc.drop('메세지',1)
df_acc = df_acc.drop('고속도로',1)
df_acc = df_acc.drop('방향',1)
df_acc.head(1)

,발생시간,경도,위도,콘존ID
index,,,,
8167,2017-01-01 15:02:02,127.155466583854,36.9904016536474,"['0010CZS470', '0010CZE470', 26.99226886425865..."

In [63]:
df_acc['상행콘존ID'] = df_acc.apply(lambda row: row['콘존ID'].split('\'')[1],axis=1)
df_acc['하행콘존ID'] = df_acc.apply(lambda row: row['콘존ID'].split('\'')[3],axis=1)
df_acc=df_acc.drop('콘존ID',1)
df_acc.head(1)

,발생시간,경도,위도,상행콘존ID,하행콘존ID
index,,,,,
8167,2017-01-01 15:02:02,127.155466583854,36.9904016536474,0010CZS470,0010CZE470

In [103]:
tmp=df_acc[df_acc['하행콘존ID'].str.contains('510')]
tmp[tmp['발생시간']>='2017-01-29']

,발생시간,경도,위도,상행콘존ID,하행콘존ID,날짜
index,,,,,,
8384,2017-01-29 21:41:02,127.028881222362,37.4760390186353,0010CZS510,0010CZE510,-1
8385,2017-01-31 07:47:02,127.036035458661,37.4674364489969,0010CZS510,0010CZE510,-1

In [86]:
df_acc['날짜']=-1
for i,v in df_acc.iterrows():
    v['날짜'] = str(v['발생시간']).split()[0]
#df_acc

In [96]:
#df_acc[df_acc['상행콘존ID']=='0010CZS510']

In [48]:
#df_cz_name['시작노드명'] = df_cz_name.apply(lambda row: row['콘존명'][0], axis=1)
#tmp['콘존ID'].iloc(0,)

In [7]:
node = pd.read_sql_table('tb_node',conn)
node = node.set_index("index")
node.head(1)

          NODE_ID NODE_TYPE NODE_NAME      x좌표     y좌표
index
0      3330017400       101     고읍교차로  127.325  34.862

In [13]:
link = pd.read_sql_table('tb_link',conn)
link = link.set_index("index")
link.head(1)

In [8]:
conn = engine.dispose()

In [15]:
link = link[link['ROAD_NAME'].str.contains('경부고속')]
link.head(1)

,LINK_ID,F_NODE,T_NODE,LANES,ROAD_RANK,ROAD_NAME,CONNECT,MAX_SPD,ROAD_TYPE,ROAD_NO
index,,,,,,,,,,
68,3530047900,3530017600,3530022100,1.0,101,경부고속도로,101,40.0,0,14

In [16]:
link[link['F_NODE']==3530017600]

,LINK_ID,F_NODE,T_NODE,LANES,ROAD_RANK,ROAD_NAME,CONNECT,MAX_SPD,ROAD_TYPE,ROAD_NO
index,,,,,,,,,,
68,3530047900,3530017600,3530022100,1.0,101,경부고속도로,101,40.0,0,14
1257,3530025802,3530017600,3530023500,3.0,101,경부고속도로,0,100.0,0,1
3862,3530038400,3530017600,3530017000,3.0,101,경부고속도로,0,100.0,0,1

In [17]:
link[link['T_NODE']==3530017600]

,LINK_ID,F_NODE,T_NODE,LANES,ROAD_RANK,ROAD_NAME,CONNECT,MAX_SPD,ROAD_TYPE,ROAD_NO
index,,,,,,,,,,
1256,3530025704,3530023500,3530017600,3.0,101,경부고속도로,0,100.0,0,1
3867,3530038300,3530017000,3530017600,3.0,101,경부고속도로,0,100.0,0,1

In [19]:
node[node['NODE_ID']=='3530017600']

          NODE_ID NODE_TYPE NODE_NAME     x좌표     y좌표
index
22353  3530017600       108     김천분기점  128.26  36.161

In [39]:
f_node = list(link['F_NODE'])
t_node = list(link['T_NODE'])
#f_node[:5],t_node[:5]

kb_node = f_node+t_node
kb_node = list(set(kb_node))
print(len(kb_node))
print(kb_node[0])
print(str(node['NODE_NAME'][node['NODE_ID']==str(kb_node[0])]).split()[1:3])

528
1870080000
['86581', '대전터널']

In [ ]:
for nid in kb_node:
    node