In [1]:
import pandas as pd
import numpy as np
import time
import math

pd.options.mode.chained_assignment = None  # default='warn'

In [4]:
df_acc = pd.read_csv('acc_highway_cz.csv',encoding='utf-8')
df_acc = df_acc.drop('Unnamed: 0',1)
print(len(df_acc))
df_acc['방향']=0
df_acc.head(1)

26486

,발생시간,메세지,경도,위도,고속도로,콘존ID,방향
0,2014-12-01 06:49:02,경인고속도로 부천-신월 3차로 추돌사고 지체 -,126.826106822352,37.5225191751392,경인고속도로,"['0552CZS100', '0600CZE080', 0.501085415819419...",0

In [5]:
# 콘존ID - 콘존명 데이터
df_cz_name = pd.read_csv('czid_to_gugan.txt',sep="\t",encoding='CP949')

cols = df_cz_name.columns
cols = cols[0].split(',')

df_cz_name.index = range(len(df_cz_name))
df_cz_name.columns=range(1)

df_cz_name = df_cz_name[0].str.split(',',n=12,expand=True)
df_cz_name.columns = cols
print(len(df_cz_name))
df_cz_name = df_cz_name.drop(['시작노드ID','종료노드ID','차로수','제한속도','버스전용차로유무','도로등급구분코드'],1)
df_cz_name.head(1)

1438

         콘존ID    콘존길이 기점종점방향구분코드  노선번호 노선구성순번            콘존명
0  0010CZE005  200.00          E  0010      1  경부고속국도시점-구서IC

In [6]:
# 콘존ID - 좌표 데이터 위도,경도 변환

df_cz_xy = pd.read_csv('acc_conzone.csv',sep=',',encoding='CP949')
df_cz_xy = df_cz_xy.drop('Unnamed: 0',1)
str_arr= ['콘존ID','방향','위도','경도','노선명']
df_cz_xy = df_cz_xy[str_arr]
print(len(df_cz_xy))
df_cz_xy.head(1)

6301

         콘존ID 방향         위도          경도  노선명
0  0010CZE010  E  35.256977  129.101614  경부선

In [7]:
# 고속도로 설치 정보 데이터
df_ic = pd.read_csv('highway_sisul.csv',sep=',',encoding="CP949")
df_ic = df_ic.set_index('Unnamed: 0')
print(len(df_ic))
df_ic.head(2)
#df_ic[df_ic['노선명'].str.contains('남해선')].head(1)

407

              IC/JCT코드 IC/JCT명         노선명  노선코드        X좌표값       Y좌표값
Unnamed: 0
0           0100I00013    진주IC  남해선(순천-부산)   100  128.118649  35.162711
1           0100I00015    진성IC  남해선(순천-부산)   100  128.225744  35.191538

In [7]:
for s in ['경부','중부','중부내륙','경인','제2경인','영동']:
    print(df_ic[df_ic['노선명']=='%s선'%s].head(1).values[0][2:4])

['경부선' 10]
['중부선' 352]
['중부내륙선' 450]
['경인선' 1200]
['제2경인선' 1100]
['영동선' 500]

In [8]:
#고속도로별 노선코드 빼기

tmp = list(df_acc['고속도로'])
#print(len(tmp))
tmp = set(tmp)

a = pd.DataFrame()

for s in tmp:
    s=s.split('고속')[0]
    
    a=a.append(df_ic[df_ic['노선명']=='%s선'%s].head(1))
a=a.append(df_ic[df_ic['노선명'].str.contains('남해선')].head(1))
tmps = []
for tmp in a['노선코드']:
    tmp = str('%04d'%int(tmp))
    tmps.append(tmp)
a['노선코드'] = tmps
a = pd.merge(a['노선명'],a['노선코드'],on=a.index)
a= a.drop('key_0',1)
a

          노선명  노선코드
0         경부선  0010
1         호남선  0251
2         중부선  0352
3       중부내륙선  0450
4       제2경인선  1100
5     서울외곽순환선  1000
6         영동선  0500
7        서해안선  0150
8         경인선  1200
9  남해선(순천-부산)  0100

In [9]:
# 고속도로별 구간 IC/JC 명 : ic_dic

n_name = list(a['노선명'])
n_code = list(a['노선코드'])

ic_dic = {}

for i in range(len(n_name)):

    tt = []
    tmp = list(df_cz_name['콘존명'][df_cz_name['노선번호']==n_code[i]])
    for t in tmp:
        tt.append(t.split('-')[0])
    #tt.append(t.split('-')[1])
    #tt=list(set(tt))
    #tt=set(tt) 이거쓰면안댐
    tmp = n_name[i]
    
    if ('남해') in tmp:
        tmp='남해선'
    ic_dic[tmp[:-1]+'고속도로']=tt

ic_dic['남해고속도로'][0:5]

['서순천IC', '순천IC', '순천JC', '광양IC', '동광양IC']

In [159]:
# acc_highway_name.csv 에서 좌표로 콘존ID 매칭

from math import cos, asin, sqrt
from tqdm import tqdm
import numpy as np

df_cz_xy = pd.read_csv('acc_conzone.csv',sep=',',encoding='CP949')
df_cz_xy = df_cz_xy.drop('Unnamed: 0',1)
str_arr= ['콘존ID','방향','위도','경도','노선명']
df_cz_xy = df_cz_xy[str_arr]

df_cz_e = df_cz_xy[df_cz_xy['방향']=='E']
df_cz_s = df_cz_xy[df_cz_xy['방향']=='S']


# Haversine 기본 거리 공식
def distance(lat1, lon1, lat2, lon2):
    p = 0.017453292519943295
    a = 0.5 - cos((lat2-lat1)*p)/2 + cos(lat1*p)*cos(lat2*p) * (1-cos((lon2-lon1)*p)) / 2
    return 12742 * asin(sqrt(a))


def Find_CZID(x1,y1,nosun):
    
    #x1,y1 = 127.420089,36.605207
    nosun = nosun.split('고속도로')[0]+'선'
    tmp=10
    e_cz=''
    if nosun =='대전당진선':
        nosun = '당진대전선'
    df_e = df_cz_e[df_cz_e['노선명'].str.contains(nosun)]
    df_s = df_cz_s[df_cz_s['노선명'].str.contains(nosun)]
    e = -1
    s = -1
    for index,row in df_e.iterrows():
        czid = row['콘존ID']
        xx = row['경도']
        yy = row['위도']
        try:
            r = distance(float(x1),float(y1),float(xx),float(yy))
            if r < tmp:
                e_cz = czid
                e = r
            tmp = r
            
        except:
            continue
    tmp=10
    s_cz=''
    for index,row in df_s.iterrows():
        czid = row['콘존ID']
        xx = row['경도']
        yy = row['위도']
        try:
            r = distance(float(x1),float(y1),float(xx),float(yy))
            if r < tmp:
                s_cz = czid
                s = r
            tmp = r
        except:
            continue
    cz=[s_cz,e_cz,e,s]
    return cz

In [160]:
#print(Find_CZID(129.101614,35.256977,'경부고속도로'))

df_acc['콘존ID'] = df_acc.apply(lambda row: Find_CZID(row['경도'], row['위도'],row['고속도로']), axis=1)

df_acc.head(5)

,발생시간,메세지,경도,위도,고속도로,콘존ID,방향
0,2014-12-01 06:49:02,경인고속도로 부천-신월 3차로 추돌사고 지체 -,126.826106822352,37.5225191751392,경인고속도로,"[0552CZS100, 0600CZE080, 0.5010854158194197, 5...",0
1,2014-12-01 06:50:02,경인고속도로 서인천-가좌 추돌사고 지체 -,126.675731372779,37.5068873058972,경인고속도로,"[0552CZS100, 0600CZE080, 0.11905897848521116, ...",0
2,2014-12-01 06:51:02,영동고속도로 서창분기점 강릉방향 3차로 사고 지체 -,126.736762772379,37.4275702759106,영동고속도로,"[0450CZS270, 0500CZE010, 226.89299250472112, 2...",0
3,2014-12-01 06:50:02,제2경인고속도로 문학-남동 1차로 추돌사고 지체 -,126.685986373565,37.4318673990613,제2경인고속도로,"[0552CZS100, , -1, 0.2966090321502725]",0
4,2014-12-01 07:11:02,서울외곽순환고속도로 산본 - 평촌방향 1차로 승용차관련 사고처리중 후미지체 -,126.941595064846,37.3788016855273,서울외곽순환고속도로,"[0550CZS340, 0552CZE100, 1.0577831870232466, 2...",0

In [161]:
#df_acc.to_csv('acc_highway_cz.csv')

In [77]:
df_acc[df_acc['고속도로']=='경인고속도로'].head(1)

,발생시간,메세지,경도,위도,고속도로,콘존ID,방향
0,2014-12-01 06:49:02,경인고속도로 부천-신월 3차로 추돌사고 지체 -,126.826106822352,37.5225191751392,경인고속도로,"['0552CZS100', '0600CZE080', 0.501085415819419...",0

In [166]:
count=0
for tmp in df_acc['콘존ID']:
    if tmp[2]>100:
        count+=1
count

5744

In [8]:
# 메세지에 '방향' 키워드 들어가 있는 사고 ㄱㄱ

df_acc_dir = df_acc[df_acc['메세지'].str.contains('방향')]

df_acc_dir.head(5)

,발생시간,메세지,경도,위도,고속도로,콘존ID,방향
2,2014-12-01 06:51:02,영동고속도로 서창분기점 강릉방향 3차로 사고 지체 -,126.736762772379,37.4275702759106,영동고속도로,"['0450CZS270', '0500CZE010', 226.8929925047211...",0
4,2014-12-01 07:11:02,서울외곽순환고속도로 산본 - 평촌방향 1차로 승용차관련 사고처리중 후미지체 -,126.941595064846,37.3788016855273,서울외곽순환고속도로,"['0550CZS340', '0552CZE100', 1.057783187023246...",0
6,2014-12-01 08:49:02,서울외곽순환고속도로 판교방향 시흥요금소 2차로 승용차 단독사고 후미지체 -,126.803659728236,37.4504219345875,서울외곽순환고속도로,"['0550CZS340', '0552CZE100', 12.12805320139909...",0
7,2014-12-01 09:01:02,경인고속도로 인천방향 부천나들목 300m 정도 못 간 지점 4차로 택시관련 3중 추...,126.78320495541,37.5239169545305,경인고속도로,"['0552CZS100', '0600CZE080', 0.172383355820405...",0
8,2014-12-01 10:39:02,경부고속도로 부산방향 영천 나들목 지나자마자 50m 전방 2차로에 화물차와 승용차 ...,128.951904288842,35.9223635888012,경부고속도로,"['0010CZS470', '0010CZE470', 228.6156363073881...",0

In [10]:
df_kb = df_acc_dir[df_acc_dir['고속도로']=='경부고속도로']
df_kb.head(5)

,발생시간,메세지,경도,위도,고속도로,콘존ID,방향
8,2014-12-01 10:39:02,경부고속도로 부산방향 영천 나들목 지나자마자 50m 전방 2차로에 화물차와 승용차 ...,128.951904288842,35.9223635888012,경부고속도로,"['0010CZS470', '0010CZE470', 228.6156363073881...",0
11,2014-12-01 12:21:02,경부고속도로 부산방향 편도 4차로중 12차로 차대차 교통사고 약1km 지정체 -,127.196042774013,36.7668421157834,경부고속도로,"['0010CZS470', '0010CZE470', 42.65177992335836...",0
12,2014-12-01 14:12:02,경부고속도로 한남방향 양재IC->서초IC 4차로 고장차량 정체 -,127.028208703162,37.4773128302009,경부고속도로,"['0010CZS510', '0010CZE510', 0.342803579792266...",0
15,2014-12-01 16:12:02,경부고속도로 서울 방향 황간휴게소 500m 지난 지점 23차로에 화물차 단독 사고가...,127.852303097518,36.2568256135994,경부고속도로,"['0010CZS470', '0010CZE470', 112.8917619365319...",0
16,2014-12-01 16:18:02,경부고속도로 경주에서 언양방향 47km 2차로갓길상 화물차 교통사고 후미 1km 지체 -,129.158557169785,35.6290536141937,경부고속도로,"['0010CZS470', '0010CZE470', 258.3163513667513...",0

In [49]:
df_kb['메세지2']=df_kb['메세지'].str.split()
df_kb.head(5)

,발생시간,메세지,경도,위도,고속도로,콘존ID,방향,메세지2
8,2014-12-01 10:39:02,경부고속도로 부산방향 영천 나들목 지나자마자 50m 전방 2차로에 화물차와 승용차 ...,128.951904288842,35.9223635888012,경부고속도로,"['0010CZS470', '0010CZE470', 228.6156363073881...",0,"[경부고속도로, 부산방향, 영천, 나들목, 지나자마자, 50m, 전방, 2차로에, ..."
11,2014-12-01 12:21:02,경부고속도로 부산방향 편도 4차로중 12차로 차대차 교통사고 약1km 지정체 -,127.196042774013,36.7668421157834,경부고속도로,"['0010CZS470', '0010CZE470', 42.65177992335836...",0,"[경부고속도로, 부산방향, 편도, 4차로중, 12차로, 차대차, 교통사고, 약1km..."
12,2014-12-01 14:12:02,경부고속도로 한남방향 양재IC->서초IC 4차로 고장차량 정체 -,127.028208703162,37.4773128302009,경부고속도로,"['0010CZS510', '0010CZE510', 0.342803579792266...",0,"[경부고속도로, 한남방향, 양재IC->서초IC, 4차로, 고장차량, 정체, -]"
15,2014-12-01 16:12:02,경부고속도로 서울 방향 황간휴게소 500m 지난 지점 23차로에 화물차 단독 사고가...,127.852303097518,36.2568256135994,경부고속도로,"['0010CZS470', '0010CZE470', 112.8917619365319...",0,"[경부고속도로, 서울, 방향, 황간휴게소, 500m, 지난, 지점, 23차로에, 화..."
16,2014-12-01 16:18:02,경부고속도로 경주에서 언양방향 47km 2차로갓길상 화물차 교통사고 후미 1km 지체 -,129.158557169785,35.6290536141937,경부고속도로,"['0010CZS470', '0010CZE470', 258.3163513667513...",0,"[경부고속도로, 경주에서, 언양방향, 47km, 2차로갓길상, 화물차, 교통사고, ..."

In [59]:
tmps = []
for msgs in df_kb['메세지2']:
    a = ''
    tmp = ''
    for msg in msgs:
        
        if '방향' in msg:
            if msg.split('방향')[0]=='':
                a = tmp+msg
            else:
                a = msg
        tmp = msg
    tmps.append(a)
df_kb['메세지2'] = tmps

In [106]:
a = [t for t in df_kb['메세지2'] if '서울' in t]
print(len(a),'/',len(df_kb['메세지2']))

b = [t for t in df_kb['메세지2'] if '부산' in t]
print(len(b),'/',len(df_kb['메세지2']))

c = [t for t in df_kb['메세지2'] if not '서울'in t and not '부산' in t]
print(len(c),'/',len(df_kb['메세지2']))

import re

#count=0
for index,value in enumerate(c):
    value=value.upper()
    value = u'%s'%value
    value = re.sub('[-=.#/?:><().*]','',value)
    value = value.split('방향')[0]
    c[index] = value

d = set(c)
print(len(d),'/',len(c))
    
    #if '(' in value:
    #    print(index,value)
    #    break

708 / 2682
473 / 2682
1504 / 2682
354 / 1504

In [45]:
a = ['방향','방향','서울 방향']

for i in a:
    if i.split('방향')[0]=='':
        print(i,' : 앞에 아무것도없음')
    else:
        print(i,' : 앞에 지역명 있음')

방향  : 앞에 아무것도없음
방향  : 앞에 아무것도없음
서울 방향  : 앞에 지역명 있음