In [4]:
#!pip install pymysql

#mysql-connector or pymysql

In [3]:
#!pip install sqlalchemy

In [7]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [9]:
pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine('mysql+mysqldb://root:1234@localhost/jupodb',encoding='utf-8')
conn = engine.connect()

In [10]:
df_acc = pd.read_csv('acc_highway_cz.csv',encoding='utf-8')
df_acc = df_acc.drop('Unnamed: 0',1)
print(len(df_acc))
df_acc['방향']=0
df_acc.head(1)

26486

,발생시간,메세지,경도,위도,고속도로,콘존ID,방향
0,2014-12-01 06:49:02,경인고속도로 부천-신월 3차로 추돌사고 지체 -,126.826106822352,37.5225191751392,경인고속도로,"['0552CZS100', '0600CZE080', 0.501085415819419...",0

In [13]:
table = 'df_acc'
df_acc.to_sql(name=table,con=engine,if_exists='append')

In [17]:
df_acc2 = pd.read_sql_table('table01',conn)
df_acc2.index = df_acc2['index']
df_acc2 = df_acc2.drop('index',1)
df_acc2.head(3)

,발생시간,메세지,경도,위도,고속도로,콘존ID,방향
index,,,,,,,
0,2014-12-01 06:49:02,경인고속도로 부천-신월 3차로 추돌사고 지체 -,126.826106822352,37.5225191751392,경인고속도로,"['0552CZS100', '0600CZE080', 0.501085415819419...",0
1,2014-12-01 06:50:02,경인고속도로 서인천-가좌 추돌사고 지체 -,126.675731372779,37.5068873058972,경인고속도로,"['0552CZS100', '0600CZE080', 0.119058978485211...",0
2,2014-12-01 06:51:02,영동고속도로 서창분기점 강릉방향 3차로 사고 지체 -,126.736762772379,37.4275702759106,영동고속도로,"['0450CZS270', '0500CZE010', 226.8929925047211...",0